/*================== RIBBON =========================*/
.ribbon_round { 
font-size:1em;    
position:absolute;
top:120px;
left:70px;
background-image: linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);
background-image: -o-linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);
background-image: -moz-linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);
background-image: -webkit-linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);
background-image: -ms-linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.35, rgb(174,174,174)),
    color-stop(0.63, rgb(189,189,189)),
    color-stop(0.96, rgb(214,214,214)));  
    
   padding:15px 35px;
   color:#393939;
   text-shadow:-1px 1px 0 rgba(255,255,255,0.4);
   box-shadow:-10px 10px 20px rgba(0,0,0,0.1);
   -webkit-transition: all 0.05s ease; 
   border-radius:30px 0 0 30px;
}
.ribbon_round:after {
   content:"";
   position: absolute;
   width: 0;
   height: 0;    
   border-top:0;
   border-left: 20px solid #8f8f8f;
   border-bottom: 10px solid transparent;
   margin:33px 0 0 15px;
   -webkit-transition: all 0.05s ease;     
   }
/*================== RIBBON===================*/

.ribbon { 
font-size:1em;    
position:absolute;
top:200px;
left:70px;
background-image: linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);
background-image: -o-linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);
background-image: -moz-linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);
background-image: -webkit-linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);
background-image: -ms-linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.35, rgb(174,174,174)),
    color-stop(0.63, rgb(189,189,189)),
    color-stop(0.96, rgb(214,214,214)));  
    
   padding:15px 35px;
   color:#393939;
   text-shadow:-1px 1px 0 rgba(255,255,255,0.4);
   box-shadow:-10px 10px 20px rgba(0,0,0,0.1);
   -webkit-transition: all 0.05s ease; 
}
.ribbon:after {
   content:"";
   position: absolute;
   width: 0;
   height: 0;    
   border-top:0;
   border-left: 20px solid #8f8f8f;
   border-bottom: 10px solid transparent;
   margin:33px 0 0 15px;
   -webkit-transition: all 0.05s ease;     
   }

/*================== RIBBON FLAG ===================*/

.ribbon_flag { 
   font-size:1em;    
   position:absolute;
   top:120px;
   left:80px;
   background-image: linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);
background-image: -o-linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);
background-image: -moz-linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);
background-image: -webkit-linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);
background-image: -ms-linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.35, rgb(174,174,174)),
    color-stop(0.63, rgb(189,189,189)),
    color-stop(0.96, rgb(214,214,214)));  
   padding:15px 30px;
   color:#393939;
   text-shadow:-1px 1px 0 rgba(255,255,255,0.4);
   box-shadow:-10px 10px 20px rgba(0,0,0,0.2);
   -webkit-transition: all 0.05s ease; 
}
.ribbon_flag:after {
   content:"";
   position: absolute;
   width: 0;
   height: 0;    
   border-top:0;
   border-left: 20px solid #8f8f8f;
   border-bottom: 10px solid transparent;
   margin:33px 0 0 10px;
   -webkit-transition: all 0.05s ease;     
   }
.ribbon_flag:before {
   content:"";
   position: absolute;
   width: 0;
   height: 0;    
   border-top:24px solid #aeaeae;
   border-left: 15px solid transparent;
   border-bottom: 24px solid #aeaeae;
   margin:-15px 0 0 -45px;
   -webkit-transition: all 0.05s ease; 
}

/*=============================== COLORS =======================================*/
         
.green {   
color:#496c02;
background-image: linear-gradient(left , rgb(153,204,0) 22%, rgb(212,233,147) 100%);
background-image: -o-linear-gradient(left , rgb(153,204,0) 22%, rgb(212,233,147) 100%);
background-image: -moz-linear-gradient(left , rgb(153,204,0) 22%, rgb(212,233,147) 100%);
background-image: -webkit-linear-gradient(left , rgb(153,204,0) 22%, rgb(212,233,147) 100%);
background-image: -ms-linear-gradient(left , rgb(153,204,0) 22%, rgb(212,233,147) 100%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.22, rgb(153,204,0)),
    color-stop(1, rgb(212,233,147))
        );}
    
.green:before {
 border-top:24px solid #99cc00;
 border-bottom: 26px solid #99cc00;
 }
.green:after {
 border-left: 20px solid #669900;
   border-bottom: 10px solid transparent;
}

.blue {   
color:#145469;    
background-image: linear-gradient(left , rgb(51,182,229) 22%, rgb(135,212,240) 100%);
background-image: -o-linear-gradient(left , rgb(51,182,229) 22%, rgb(135,212,240) 100%);
background-image: -moz-linear-gradient(left , rgb(51,182,229) 22%, rgb(135,212,240) 100%);
background-image: -webkit-linear-gradient(left , rgb(51,182,229) 22%, rgb(135,212,240) 100%);
background-image: -ms-linear-gradient(left , rgb(51,182,229) 22%, rgb(135,212,240) 100%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.22, rgb(51,182,229)),
    color-stop(1, rgb(135,212,240))
);
}    
    
.blue:before {
 border-top:24px solid #33b6e5;
 border-bottom: 26px solid #33b6e5;
}

.blue:after {
 border-left: 20px solid #1f7794;
   border-bottom: 10px solid transparent;
}

.red {   
color:#990909;    
background-image: linear-gradient(left , rgb(255,68,68) 22%, rgb(254,121,121) 100%);
background-image: -o-linear-gradient(left , rgb(255,68,68) 22%, rgb(254,121,121) 100%);
background-image: -moz-linear-gradient(left , rgb(255,68,68) 22%, rgb(254,121,121) 100%);
background-image: -webkit-linear-gradient(left , rgb(255,68,68) 22%, rgb(254,121,121) 100%);
background-image: -ms-linear-gradient(left , rgb(255,68,68) 22%, rgb(254,121,121) 100%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.22, rgb(255,68,68)),
    color-stop(1, rgb(254,121,121))
);
}    
    
.red:before {
 border-top:24px solid #FF4444;
 border-bottom: 26px solid #FF4444;
}

.red:after {
 border-left: 20px solid #CC0000;
 border-bottom: 10px solid transparent;
}


.orange {   
color:#990909;    
background-image: linear-gradient(left , rgb(255,164,0) 22%, rgb(253,222,160) 100%);
background-image: -o-linear-gradient(left , rgb(255,164,0) 22%, rgb(253,222,160) 100%);
background-image: -moz-linear-gradient(left , rgb(255,164,0) 22%, rgb(253,222,160) 100%);
background-image: -webkit-linear-gradient(left , rgb(255,164,0) 22%, rgb(253,222,160) 100%);
background-image: -ms-linear-gradient(left , rgb(255,164,0) 22%, rgb(253,222,160) 100%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.22, rgb(255,164,0)),
    color-stop(1, rgb(253,222,160))
);
}    
    
.orange:before {
 border-top:24px solid #FFA400;
 border-bottom: 26px solid #FFA400;
}

.orange:after {
 border-left: 20px solid #CBA75F;
 border-bottom: 10px solid transparent;
}