@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
    margin-bottom: 50px;
    -webkit-font-smoothing: antialiased;
    background-color: #f6f6f6;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  /* Set the fixed height of the footer here */
    height: 50px;
    background-color: transparent;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
/*    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: AvenirNextLTPro-Regular;
    font-weight: 700;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 70px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0px;
    padding-top: 4px;
}

@font-face {
    font-family:'AvenirNextLTPro-Regular';
    src: url("../fonts/2A8426_0_0.eot");
    src: url("../fonts/2A8426_0_0.eot?#iefix") format("embedded-opentype"),url("../fonts/2A8426_0_0.woff")format("woff"),url("../fonts/2A8426_0_0.ttf") format("truetype")
}


/*for search input */
input[type=search] {
    height: 60px !important;
    color: black !important ;
    box-shadow: none !important;
    border: 2px solid #4C6DAA !important;
    border-radius: 3px !important;
    font-size: 16px !important;
}

#inputSearch  .dropdown-menu {
   
    width:100% !important;
}

#inputSearch .dropdown-menu>li>a { 
    
    line-height: 2;
    font-size: 16px;
    white-space: normal;
    font-weight: 400 !important;
}

/** for usermenu drop down**/
#userMenu{
    padding:0px;
    padding-top:4px;
}


/**  to hide anything **/
.hide {
    display: none;
}

/** to add background image **/
.addImage {
    background: url('../img/background_test/Kindergarten-children-drawing/try6.jpg');
    background-size: cover;
    
    
/*
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top; 
*/
}


/** main search page **/
.mainHeading {
    margin-bottom:40px;
}


/** result set css **/

.panel-result {
    text-align: left;
    margin-bottom: 30px;
    border: 1px solid #BDC3C7;
}

.panel-result >.panel-heading {
    color: black;
    background-color: #E3EAEF;
    border-color: #BDC3C7;
    font-size: 15px;
    text-align: left;
}

.peopleCountLabel {
  
    float:left;
    margin-top:6px;
    margin-right:15px;
    font-size: 14px;
}

.peopleCount {
 
    float:left;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    padding: 4px 12px;margin-top:0px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #BDC3C7;
    color:black;
    font-size:15px; 

}

.btn-sendMessage {
    
    padding: 6px 14px;
    background-color: #875F9A;
    color: white;
}

.msgTextarea {
   
    height:60px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

}

/** the result set and message box **/

#messageInbox {
  margin-left:auto;
  margin-right: auto;
  padding-top: 20px;    
}

.messageHeading{
  
    font-weight: 1000  !important;
    font-size: 18px;
}
.commentInput {
    height:38px;
    width:100%;border: 1px solid #ccc;
    border-radius: 4px;
    display:block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}

.resultSet {
/*
    margin-right:auto;
    margin-left:auto;
*/
    padding-top: 20px;
}

/**  for profile page**/ 
.profile-title-header {
    padding-bottom: 20px;
}

.spaceLeft {
    
    margin-left:10px;
}

.italics {
    
    font-style: italic;
}

p.time {
    
    color:#337ab7;
    font-size: 11px;
    margin-top: 10px;
}

p.lead {
    
    font-size: 16px;
}

/** to remove carousel **/
@media(min-width:768px) {

  #carousel {
    
  }
}
/** end **/

/** for about page **/
.img-center {
	margin: 0 auto;
}

/** for carousel **/
.item{
    background: transparent;    
    text-align: center;
    height: 220px !important;
}


/** for badge **/
/* All the CSS ya need below! */
.badge {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    border: 2px solid #333;
    background-color: #333;
    padding: 4px 10px 6px;
    margin: 3px 3px 0 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.badge-failure {
    
    display: inline-block;
    color: #fff;
    font-size: 14px;
    border: 2px solid #CF000F !important;
    background-color: #CF000F !important;
    padding: 2px 10px 2px;
    margin: 3px 3px 0 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    
}

.badge-success {
    
    display: inline-block;
    color: #fff;
    font-size: 14px;
    border: 2px solid #26A65B !important;
    background-color: #26A65B !important;
    padding: 2px 10px 2px;
    margin: 3px 3px 0 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    
}

.badge-upVote {
    
    display: inline-block;
    color: #fff;
    font-size: 14px;
    border: 2px solid #5bc0de !important;
    background-color: #5bc0de !important;
    padding: 2px 10px 2px;
    margin: 3px 3px 0 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    
}


.badge-downVote {
    
    display: inline-block;
    color: #fff;
    font-size: 14px;
    border: 2px solid #f0ad4e !important;
    background-color: #f0ad4e !important;
    padding: 2px 10px 2px;
    margin: 3px 3px 0 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    
}

.badge:hover {
    background-color: #555;
    border-color: #555;
}

.badge.tag {
    background-color: #eee;
    color: #333;
}

.badge.tag:hover {
    background-color: #555;
    color: #fff;
}

.badge span {
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    margin-right: 2px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.badge .bronze {
    background-color: #C99660;
}

.badge .silver {
    background-color: #C3C3C3;
}

.badge .gold {
    background-color: #FDCC02;
}

table {
    width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 620px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 19.2%;
    float: left;
}
/** end **/

/* CSS for typeahead */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}


/** to increase the width of the input box **/

/* ribbon style */
.wrapper {
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
}
.ribbon-wrapper {
  width: 227px;
  height: 237px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}
.bootstrap-tagsinput {
    width: 100%;
}
.tag.label.label-info {
    font-size: 85% !important;
}
.ribbon-pink {
  letter-spacing: 0.1em;
  color: #333;
  font-size: 15px;
  text-align: center;
  text-shadow: white 0px 1px 0px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);    
  position: relative;
  padding: 5px 0;
  left: -5px;
  top: 65px;
  width: 320px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFD6CC), to(red));
  background-image: linear-gradient(left top, rgb(255,214,204) 22%, rgb(255,50,4) 100%);
  background-image: -o-linear-gradient(left top, rgb(255,214,204) 22%, rgb(255,50,4) 100%);
  background-image: -moz-linear-gradient(left top, rgb(255,214,204) 22%, rgb(255,50,4) 100%);
  background-image: -webkit-linear-gradient(left top, rgb(255,214,204) 22%, rgb(255,50,4) 100%);
  background-image: -ms-linear-gradient(left top, rgb(255,214,204) 22%, rgb(255,50,4) 100%);    
  color: white;
}
.ribbon-pink:before, .ribbon-pink:after {
  content: "";
  /* Colour of the triangle. To flip the effect, use border-bottom. */
  border-top: 3px solid red;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
  /* +1 to compensate for the border */
}
.ribbon-pink:before {
  left: 0;
}
.ribbon-pink:after {
  right: 0;
}


.ribbon-wrapper-status { 
    width: 227px;
    height: 237px;
    overflow: hidden;
    position: absolute;
    top: -140px;
    right: -70px;
}


.ribbon-wrapper-status-submitted {
    width: 227px;
    height: 237px;
    overflow: hidden;
    position: absolute;
    top: -140px;
    right: -40px;
}

.ribbon-wrapper-status-closed {
    width: 227px;
    height: 237px;
    overflow: hidden;
    position: absolute;
    top: -140px;
    right: -64px;
}

/** changing the badge color **/
.panel-default>.panel-heading .badge {
    background-color: #4B77BE !important;
    border-color: #4B77BE !important;
}

/** to style the switch off color **/
.toggle-switch .switch-right {
    
    background:#f0ad4e !important;
}

.viewTitle {
    font-size: 18px !important;    
}

/*
div.disabled {
    background: lightgrey;
}*/


/** for growl **/
.growl {
    position: fixed !important;
    top: 55% !important;
    left: 55% !important;
    width: 1050px !important;
    font-size: 20px !important;
    z-index: 9999 !important;
}
.growl-item {
/*
    position: fixed;
    top: 60px;
    right: 20px;
*/
    width: 500px;
/*    font-size: 18px;*/
}
.growl-item.ng-enter {
    -webkit-animation: bounceIn 0.5s;
    animation: bounceIn 0.5s;
}
.growl-item.ng-leave {
    -webkit-animation: bounceOut 0.5s;
    animation: bounceOut 0.5s;
}

/** changing the navar heade **/
/*
.navbar-header {
    
    background-color: #1F4174 !important;
    padding-left: 10px !important;
    color: white !important;
    margin-top: 5px !important;
    margin-bottom: 4px !important;
}
.navbar-brand {
    color:white !important;
}*/

.mainLogoDiv {
    margin-top: 15%;
}


/** for iframe **/
.intrinsic-container {
  position: relative;
  min-height: 520px;
  overflow: hidden;
  margin-bottom: 20px;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pointsSystem{
    
    font-size: 16px;
    
}

ul.pointsList li {
    list-style-type: circle;
    color:green;
}

ul.pointsList li p{
    color:black;
}

.pointsDiv {
    padding-left:40px;
}

.playIcon {
    
  margin-top:2%;    
  margin-bottom: 2%;    
    
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.hrLeft {
    float:left;
}

.hrRight {
    float:right;
}

/** notification css **/
#notification_li
{
position:relative
}
#notificationContainer 
{
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: 50px;
margin-left: -173px;
width: 450px;
z-index: -1;
display: none; 
}
#notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 188px;
}
#notificationTitle
{
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
position: fixed;
z-index: 1000;
width: 448px;
border-bottom: 1px solid #dddddd;
}
#notificationsBody
{
padding: 33px 0px 0px 0px !important;
min-height:300px;
overflow-y: scroll;
max-height:700px;    
}
#notificationFooter
{
background-color: #e9eaed;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}

/** notification boxes **/
.notice {
  position: relative;
  margin: 1em;
/*  background: #F9F9F9;*/
  background: #DAE1F5;
  padding: 1em 1em 1em 2em;
  border-left: 4px solid #DDD;
  box-shadow: 0 1px 1px rgb(137, 136, 136);
  cursor: pointer;    
}

.notice:before {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: -17px;
  background-color: #DDD;
  color: #FFF;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-family: Georgia;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.info {
  border-color: #0074D9;
}

.info:before {
  content: "i";
  background-color: #0074D9;
}

.success {
  border-color: #2ECC40;
}

.success:before {
  content: "√";
  background-color: #2ECC40;
}

.warning_notification {
  border-color: #FFDC00;
}

.warning_notification:before {
  content: "!";
  background-color: #FFDC00;
}
.systemAlert {
  border-color: #F9690E;
}

.systemAlert:before {
  content: "m";
  background-color: #F9690E;
}

.suggestion_notification{
    border-color: #F9690E;
}
.suggestion_notification:before {
  
  content: "\f075";
  background-color: #F9690E;
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;    
    
}
.oldNotification {
   background: #F9F9F9 !important; 
}
.newNotification {
   background: #DAE1F5  !important; 
}
.notificationBellRed {
    color:red;
}
.notificationBellNormal {
    color:rgb(119, 119, 119);
}
/** end **/


/** new comment Section **/
.user_avatar {
  width: 65px;
  height: 65px;
  display: inline-block;
  vertical-align: middle;
}
.user_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.comment_block {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}
.comment_block .create_new_comment {
  width: 100%;
  padding: 5px 0;
}
.comment_block .create_new_comment .input_comment {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: calc(100% - 75px);
}
.comment_block .create_new_comment .input_comment input[type="text"] {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #f2f2f2;
}
.comment_block .create_new_comment .input_comment input[type="text"]:focus {
  outline: none;
  border-bottom: 2px solid #e6e6e6;
}
.comment_block .new_comment {
  width: 100%;
  height: auto;
  padding: 20px 0;
  padding-bottom: 0px;
/*  border-top: 1px solid #e6e6e6;*/
}
.comment_block .new_comment .user_comment {
  list-style-type: none;
}
.comment_block .new_comment .comment_body {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 75px);
  min-height: 45px;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 1.3rem;
  color: #555;
  background-color: #FFF;
  border-bottom: 5px solid #f2f2f2;
  line-height: 20px;
  padding-top: 15px;
      
}
.comment_block .new_comment .comment_body .replied_to {
  margin: 5px 0px;
  background-color: #fafafa;
  border-bottom: 2px solid #f2f2f2;
  border-radius: 5px;
}
.comment_block .new_comment .comment_body .replied_to p {
  padding: 5px;
}
.comment_block .new_comment .comment_body .replied_to span {
  color: #6495ED;
  margin-right: 2px;
}
.comment_block .new_comment .comment_toolbar {
  width: 100%;
}
.comment_block .new_comment .comment_toolbar ul {
  list-style-type: none;
  padding-left: 75px;
  font-size: 0;
}
.comment_block .new_comment .comment_toolbar ul li {
  display: inline-block;
  padding: 5px;
  font-size: 1rem;
/*  color: #d9d9d9;*/
}
.comment_block .new_comment .comment_toolbar ul li:hover {
  cursor: pointer;
}
.comment_block .new_comment .comment_toolbar .comment_details {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  text-align: left;
}
.comment_block .new_comment .comment_toolbar .comment_tools {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  text-align: right;
}
.comment_block .new_comment .comment_toolbar .comment_tools li:hover {
  color: #CCC;
}
.comment_block .new_comment .user:hover {
  color: #6495ED;
  text-decoration: underline;
}
.comment_block .new_comment .love:hover {
  color: #FF6347;
}
.user_comment_li {
    margin-bottom:10px;
}

/** changing the panel header and footer color **/
.panel-default>.panel-heading {
  background-color: #E5E3E3 !important; 
}

.panel-footer {
    background-color: #E5E3E3 !important; 
}

/** styling the zero comment **/
.zeroComment{
    padding-top: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.capitalize {
    text-transform: capitalize;
}

/** added for share button **/
.share-buttons{
	list-style: none;
}

.share-buttons li{
	display: inline;
}

/** word wrap **/
.word-wrap{
    word-wrap: break-word;
}


.fa-2x {
font-size: 1.6em !important;
}


/** hack in the hover backgroud css **/
.hvr-shutter-out-horizontal {
    background: #ECEBEB  !important;
}

/** to increase the font size of the bootstrap template **/
.increaseSizeOfTitle
{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.modal-open .modal {
  z-index: 2300 !important;
}

.not_badge {
  position: absolute;
  top: -3px;
  right: 1px;
  padding: 1px 7px;
  border: 2px solid white;
  border-radius: 100px;
  background: -webkit-linear-gradient(top, #FF6969 0%,#ff0000 100%);
  box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 1px 4px rgba(0,0,0,.4), 0 0 1px rgba(0,0,0,.7) inset, 0 10px 0px rgba(255,255,255,.11) inset;
  -webkit-background-clip: padding-box;
  font: bold 14px/20px "Helvetica Neue", sans-serif;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.6);
}

.comment_textarea{
  height: 60px;
  padding-top: 8px;
  padding-left:4px;
  border: 1px solid #E5E3E3;
  width: 100%;
  border-radius: 3px;
}

.navbar-default {
  background-color: #E9ECEC !important;
  border-color: #ffffff !important;
}
.navbar-fixed-top
{
      border-width:0px;
}
.btn-navbar {
    font-size:16px;font-weight:600;background-color:#4C6DAA;color:white;border-color:white;
}
.btn-default {
  color: #333;
  background-color: #4C6DAA;
  border-color: #4C6DAA;
}