
<!DOCTYPE html>
<html lang="en" ng-app="revlegApp">
    
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place this data between the <head> tags of your website -->
<!--    <meta name="RevLeg.com" content="helping you to make better decisions" />-->

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="RevLeg.com">
    <meta itemprop="description" content="Revleg.com , a platform which helps students to connect with students of other discipline">
    <meta itemprop="image" content="img/facebook_thumbnail.png">
    <meta name="keywords" content="search,decisions,profile,audience,">
      
    <!-- Open Graph data -->
    <meta property="og:title" content="Revleg.com" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://revleg.com/" />
    <meta property="og:image" content="img/facebook_thumbnail.png" />
    <meta property="og:description" content="Connecting Students" />
    <meta property="og:site_name" content="Revleg" />  
      
<!--    <title ng-bind="'RevLeg - ' + $root.pageTitle">RevLeg - Helping you to make better decisions</title>  -->
      
    <title>Revleg - Connecting Students</title>  
    
    <!-- build:css css/vendorStyle.min.css -->  
      
    <link href="img/favicon.png" rel="icon" type="image/x-icon" />
    
    <link href="css/reset.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- for tag inputs -->
    <link href="css/bootstrap-tagsinput.css" rel="stylesheet">   
      

    
    <!-- Font awesome css -->
    <link href="css/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
        
    <!-- NG loader CSS -->
    <link href="css/nprogress.css" rel="stylesheet">  
      
    <!-- Ribbon CSS -->
    <link href="css/ribbon.css" rel="stylesheet">  
      
    <!-- Sweet Alert CSS -->
    <link href="css/sweet-alert.css" rel="stylesheet">  
      
    <!-- Bootstrap Switch CSS -->
    <link href="css/angular-toggle-switch.css" rel="stylesheet"> 
      
    <!-- Angular Block ui CSS -->
    <link href="css/angular-block-ui.css" rel="stylesheet"> 
      
      
    <!-- Angular Growl CSS -->
    <link href="css/angular-growl.min.css" rel="stylesheet"> 
      
    <!-- Animate CSS -->
    <link href="css/animate.css" rel="stylesheet">  
      
    <link type="text/css" href="css/jquery-ui.css" rel="stylesheet" />
      
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link type="text/css" href="css/button-social.css" rel="stylesheet"/>      
    <link type="text/css" href="css/hover.css" rel="stylesheet"/>   
    <!-- /build -->  

      
    <!-- build:css css/customStyle.min.css --> 
    <link href="css/style.css" rel="stylesheet">  
    <!-- /build --> 
      
  </head>
  <body ng-controller="applicationController" class='"background-image-widget' ng-cloak>
      
    <!-- Fixed navbar -->
    <nav ng-controller="navbarController" class="navbar navbar-default navbar-fixed-top" role="navigation" style="z-index: 2200;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand btn btn-default btn-sm" href="#!/search" style="font-size:23px;margin-top:5px;margin-bottom:5px;border-radius:30px;padding-top:12px;background-color: rgb(76, 109, 170);
  color: white;"><i class="fa fa-search"></i> Revleg&nbsp;<sub>&beta;eta</sub></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
            
          <!-- without login -->    
          <ul class="nav navbar-nav" ng-show="loggedOut" style="padding-top: 4px;">
            <li>
                <a href="#!/aboutUs" style="font-size: 16px;">About Us</a>
            </li>
            <li data-ng-class="{active: ($location.path() == '/howItWorks') }">
               <a href="#!/howItWorks" style="font-size: 16px;">How it works</a>
            </li>
            <li style="padding-top:7px;">
               <button class="btn btn-default btn-navbar" ng-click="signUp()" style="color:white;">Sign up</button>
            </li>
            <li style="padding-top:7px;padding-left:5px;">
                <button class="btn btn-default btn-navbar" ng-click="signIn()" style="color:white;">Sign in</button>
            </li>
          </ul>
        
          <!-- with login -->     
          <ul class="nav navbar-nav dropdown-menu-right" ng-hide="loggedOut" style="padding-top: 4px;">
             <li id="notification_li" ng-controller="notificationController">
                    <a id="notificationLink" style="cursor: pointer;">
                        <i class="fa fa-bell fa-lg" ng-class="notificationBellClass"></i><span class="not_badge" ng-show="iSNotificationCountVisible">{{notification_count}}</span>
                    </a>
                    <div id="notificationContainer">
                        <div id="notificationTitle">Notifications</div>
                        <div id="notificationsBody" class="notifications">
                            <div ng-repeat="item in notificationList">
                                
                                <div ng-if="item.type == 'notifyUserForVotingMileStone'" class="notice info" ng-click="not_votingMileStoneClick(item.messageObj.messageId,$index)" ng-class="item.oldClass">
                                        
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div>
                                                    <span class="label label-info" style="font-size:14px;">{{item.percentLike}}% Audience responded on :</span>
                                                </div>
                                             </div>
                                             <div class="row" style="padding-top:10px;padding-left: 10px;font-size:14px;">
                                                <p>{{item.messageObj.messageSubject}}</p>
                                                <p>{{item.messageObj.messageBody}}</p>
                                              </div>
                                        </div>
<!--
                                        <div class="col-xs-1 text-center">
                                            <span class="pull-right" style="margin-right:10px;"><i class="fa fa-times fa-2x"></i></span>
                                        </div>
-->
                                    </div>
                                </div>
                                
                                <div ng-if="item.type == 'notifyUserForRightAnswer'" class="notice success" ng-click="not_rightAwnserClick(item.messageObj.messageId,$index)" ng-class="item.oldClass">
                                     <div class="row">
                                        <div>
                                            <span class="label label-success" style="font-size:14px;"> +20 points for opinion on :</span> 
                                        </div>
                                     </div>
                                     <div class="row" style="padding-top:10px;">
                                        <div class="col-xs-2">
                                            <img class="img-circle" ng-src="{{item.messageObj.profilePic}}" alt="..." height="45px;" width="45px;">
                                        </div>
                                        <div class="col-xs-10" style="font-size:14px;">
                                             <p>{{item.messageObj.messageSubject}} <small style="font-style:italic;color:blue">&nbsp;&nbsp;~{{item.messageObj.createrUserName}}</small></p>
                                            <p>{{item.messageObj.messageBody}}</p>
                                        </div>
                                      </div>
                                </div>
                                
                                <div ng-if="item.type == 'notifyUserForMessageClose'" class="notice warning_notification"  ng-click="not_messageCloseClick(item.messageObj.messageId,$index)" ng-class="item.oldClass">
                                     <div class="row">
                                        <div>
<!--                                            <span class="pull-right" style="margin-right:10px;"><i class="fa fa-times fa-lg"></i></span>-->
                                            <span class="label label-warning" style="font-size:14px;"> 0 points for opinion on : </span>
                                        </div>
                                     </div>
                                     <div class="row" style="padding-top:10px;">
                                        <div class="col-xs-2">
                                            <img class="img-circle" ng-src="{{item.messageObj.profilePic}}" alt="..." height="45px;" width="45px;">
                                        </div>
                                        <div class="col-xs-10" style="font-size:14px;">
                                            <p>{{item.messageObj.messageSubject}} <small style="font-style:italic;color:blue">&nbsp;&nbsp;~{{item.messageObj.createrUserName}}</small></p>
                                            <p>{{item.messageObj.messageBody}}</p>
                                        </div>
                                      </div>
                                </div>
                                
                                <div ng-if="item.type == 'notifyUserForSuggestion'" class="notice suggestion_notification"  ng-click="not_messageSuggestionClick(item.messageObj.messageId,$index,item.isOwner)" ng-class="item.oldClass">
                                     <div class="row" style="padding-top:10px;">
                                         <div class="col-xs-2">
                                            <img class="img-circle" ng-src="{{item.messageObj.profilePic}}" alt="..." height="45px;" width="45px;">
                                        </div>
                                        <div class="col-xs-10" style="font-size:14px;">
                                            <p>{{item.messageObj.messageSubject}}</p>
                                            <p> <sup><i class="fa fa-quote-left" style="font-size:.8em"></i></sup> {{item.messageObj.suggestionBody}} <sup><i class="fa fa-quote-right" style="font-size:.8em"></i></sup> <small style="font-style:italic;color:blue"> &nbsp;&nbsp;~ {{item.messageObj.suggestionCreaterUserName}}</small></p>
                                        </div>
                                      </div>
                                </div>
                                
                                
                                <div ng-if="item.type == 'notifyUserForProfileMileStone'" class="notice systemAlert" ng-click="not_profileMilestone($index)" ng-class="item.oldClass">
<!--                                    <span class="pull-right" style="margin-right:10px;"><i class="fa fa-times fa-lg"></i></span>-->
                                    <div class="row" style="padding-top:10px;">
                                        <div class="col-xs-2">
                                            <i class="fa fa-gift fa-3x" style="color:#F9690E"></i>
                                        </div>
                                        <div class="col-xs-10">
                                            Congratulation !!! , you have crossed the first Milestone.
                                        </div>
                                    </div>
                                </div>
                                
                                
                             </div>
                        </div>
                        <div id="notificationFooter"></div>
                    </div>
              </li>
              <li data-ng-class="{active: ($location.path() == '/openquestions') }">
                    <a href="#!/openquestions" data-toggle="tooltip" data-placement="bottom" data-original-title="Open Questions"><i style="color:green;" class="fa fa-globe  fa-lg"></i></a>
              </li>
              <li data-ng-class="{active: ($location.path() == '/inbox') }">
                    <a href="#!/inbox" data-toggle="tooltip" data-placement="bottom" data-original-title="Message Received"><i class="fa fa-inbox fa-lg"></i></a>
              </li>
              <li data-ng-class="{active: ($location.path() == '/outbox') }">
                   <a href="#!/outbox" data-toggle="tooltip" data-placement="bottom" data-original-title="Message Sent"><i class="fa fa-paper-plane fa-lg"></i></a>
               </li>
               <li class="dropdown" ng-controller="userController">  
                    <a id="userMenu"  class="dropdown-toggle" data-toggle="dropdown-menu" aria-expanded="true"><span>{{user.fullName}}</span>
                    <i class="fa fa-caret-down"></i>
                    <img class="img-circle" ng-src="{{user.profilePic}}" alt="..." height="45px;" width="45px;">
                    </a>    
                    <ul class="dropdown-menu">
                        <li data-ng-class="{active: ($location.path() == '/profile') }"><a href="#!/profile" ><i class="fa fa-user fa-fw"> </i> User Profile</a>
                        </li>
                        <li><a href="" ng-click="openRefer()"><i class="fa fa-users fa-fw"></i> Refer us</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="openFeedback()"><i class="fa fa-comment"></i> Feedback</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="logOut()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            </ul>    
            
            
        </div><!--/.nav-collapse -->
      </div>    
    </nav>
      
    <!-- for growl -->
    <div data-growl=""></div>
      
    <!-- Begin page content -->
    <div class="container">
        <ng-view></ng-view>
    </div>

    <!-- footer starts here -->  
    <footer class="footer">
      <div class="container">
        <ul class="nav nav-pills" displayafterlogin-widget>
          <li role="presentation" data-ng-class="{active: ($location.path() == '/about') }"><a href="#!/aboutUs">About Us</a></li>
          <li role="presentation" data-ng-class="{active: ($location.path() == '/howItWorks') }"><a href="#!/howItWorks">How it works</a>           </li>
          <li role="presentation" style="padding-top:10px;"><span>Copyright © 2015 Revleg. All Rights Reserved.</span></li>
        </ul>
        <div class="text-center" displaybeflogin-widget style="margin-top:10px;">
           Copyright © 2015 Revleg. All Rights Reserved.
        </div>  
      </div>
    </footer>
      

      
      
    <!-- build:js js/vendorScriptNonAngular.min.js --> 
    <script src="js/vendor/jquery-1.11.0.js"></script>  
    <script src="js/vendor/moment.js"></script>  
    <script src="js/vendor/sweet-alert.js"></script>  
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/bootstrapValidator.js"></script>
    <script src="js/vendor/jquery.blockUI.js"></script> 
    <script src="js/vendor/jquery-ui.js"></script>      
    <script src="js/vendor/jquery.youtubepopup.js"></script> 
    <script src="js/vendor/socket.io-1.3.2.js"></script>  
    <!-- /build --> 
      
      
    <!-- build:js js/vendorScriptAngular.min.js --> 
    <script src="js/vendor/angular.min.js"></script>  
    <script src="js/vendor/nprogress.js"></script>
    <script src="js/vendor/angular-file-upload-html5-shim.js"></script>  
    <script src="js/vendor/angular-file-upload.js"></script> 
    <script src="js/vendor/angular-route.min.js"></script>
    <script src="js/vendor/angular-cookies.js"></script>
    <script src="js/vendor/ui-bootstrap-tpls.js"></script>
    <script src="js/vendor/src/angulartics.js"></script>
    <script src="js/vendor/src/angulartics-ga.js"></script>
    <script src="js/vendor/src/angulartics-google-analytics.js"></script>  
    <script src="js/vendor/ngSweetAlert.js"></script> 
    <script src="js/vendor/angular-toggle-switch.js"></script> 
    <script src="js/vendor/angular-block-ui.js"></script>
    <script src="js/vendor/angular-growl.js"></script>
    <script src="js/vendor/angular-sanitize.js"></script>  
    <script src="js/vendor/angular-animate.js"></script>  
    <script src="js/vendor/angular-facebook.js"></script>  
    <script src="js/vendor/socket.js"></script>
    <script src="js/vendor/angular-scroll.min.js"></script>
    <script src="js/vendor/angular-cookie.js"></script>     
    <script src="js/vendor/ng-infinite-scroll.js"></script>
    <script src='js/vendor/angular-elastic.js'></script>  
    <!-- /build -->   
         
      
      
     
    <!-- build:js js/config.js -->  
    <script src="js/config.js"></script>
    <!-- /build -->   
      
    <!-- build:js js/customScript.min.js -->  
    <script src="js/app.js"></script>
    <script src="js/controllers/controllers.js"></script>  
    <script src="js/directives/directive.js"></script>  
    <script src="js/services/service.js"></script>
    <script src="js/factory/factory.js"></script> 
    <!-- /build -->   
     
    <!-- build:js js/vendorScriptAfter.min.js -->   
    <script src="js/vendor/typeahead.bundle.js"></script>    
    <script src="js/vendor/bootstrap-taginput.js"></script> 
    <!-- /build -->   
      
    <script>
        
            if (window.location.hash.indexOf('#/') == 0)
            {
                window.location.hash = '#!' + window.location.hash.slice(1);
            }
        
            // for tooltip //
            $(document).ready(function(){
                
                $('[data-toggle="tooltip"]').tooltip();
                
                 /** notification **/
                $("#notificationLink").click(function()
                {
                $("#notificationContainer").fadeToggle(300);
                $("#notification_count").fadeOut("slow");
                return false;
                });

                //Document Click hiding the popup 
                $(document).click(function()
                {
                $("#notificationContainer").hide();
                });

                //Popup on click
                $("#notificationContainer").click(function()
                {
                return false;
                });
                
            });


          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-56111829-1', 'auto');
          ga('send', 'pageview');
   
    </script>  
      
  </body>
</html>
