<div>
    <h1>Pleasure to meet you!
<!--        <small>It's Nice to Meet You!</small>-->
    </h1>
    <hr>
<!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <p>We are a team of technologists, innovators and dream chasers who started RevLeg to revolutionize the way student make decisions. We are here to guide students to make not only the better but the best decisions which will influence their destinies in the most positive manner. The basic idea is to provide a platform where student can connect with each other based on their “Dilemmas” about their education and career which will help them to make right choices about the same. Remember the best decisions are made on the basis of facts!</p>
                <p>Hope we continue to provide you value added services and all we would like to say is “thank you” for your support in all forms and please stay with us on this journey of perfect solution.</p>
                <p>Cherishing the camaraderie we share!</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-4 text-center">
                <img class="img-circle img-responsive img-center" src="../img/amit_profilepic.jpg" alt="">
                <h3>Amit Aggarwal
                </h3>
                <p>Email Id : amit.aggarwal@revleg.com</p>
            </div>
            <div class="col-lg-4 col-sm-4 text-center">
                <img class="img-circle img-responsive img-center" src="../img/praveen_profilepic.jpg" alt="">
                <h3>Praveen Menon
                </h3>
                 <p>Email Id : praveen.menon@revleg.com</p>
            </div>
            <div class="col-lg-4 col-sm-4">
                <img class="img-circle img-responsive img-center" src="../img/rashmi_profilepic1_2_3.jpg" alt="" style="padding-bottom: 10px;"> 
                <div class="text-center">
                    <h3>Rashmi Ratn</h3>
                </div>    
                <div class="text-center">
                    <p>Email Id : rashmi.ratn@revleg.com</p>
                </div> 
            </div>
            
            <div class="col-sm-6">
                <img class="img-circle img-responsive img-center" src="../img/ankita_profilepic.JPG" alt="">
                <div class="text-center">
                    <h3>Ankita Singh</h3>
                </div>    
                <div class="text-center">
                    <p>Email Id : ankita.singh@revleg.com</p>
                </div> 
            </div>
            <div class="col-sm-6">
                <img class="img-circle img-responsive img-center" src="../img/shreeshan_profilepic.jpg" alt="">
                <div class="text-center">
                    <h3>Mohan Shreeshan Swathi</h3>
                </div>    
                <div class="text-center">
                    <p>Email Id : mohan_swathi@revleg.com</p>
                </div> 
            </div>
          <hr>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Interns</h2>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="text-center">
                    <h3>krishan Gupta</h3>
                </div>    
                <div class="text-center">
                    <p>Email Id :  kenny3095@gmail.com</p>
                </div> 
            </div>
            
            <div class="col-lg-4 col-sm-6">
                <div class="text-center">
                    <h3>Srinidhi Venkataramani</h3>
                </div>    
                <div class="text-center">
                    <p>Email Id : srinidhivenkataramani@gmail.com</p>
                </div> 
            </div>
            
            
        </div>    

                <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Contact Us</h2>
            </div>
            <div class="col-lg-12">
                <h2 style="font-size:26px;">EmailId : contact@revleg.com</h2>
                <p>Have any suggestions , any ideas or just want to talk to us just send an email.We will discuss things over a hot cuppa.</p>
                <p>We are based out of Bangalore and Delhi so feel free to get in touch with us.</p>
            </div>
        </div>

 </div>