<div ng-controller="profileAdminController">
    <h1>Admin Page : Edit Profile</h1>
  	<hr>
	<div class="row">
      <div class="col-md-12 personal-info">
        
        <h3>Personal info</h3>
        <div class="well">   
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Full name:</label>
            <div class="col-lg-8">
<!--              <input class="form-control" type="text" value="Jane">-->
                <label class="control-label">{{profile.fullName}}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Display Name:</label>
            <div class="col-lg-8">
<!--              <input class="form-control" type="text" value="Bishop">-->
                <label class="control-label">{{profile.displayName}}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
<!--              <input class="form-control" type="text" value="janesemail@gmail.com">-->
                <label class="control-label">{{profile.emailId}}</label>
            </div>
          </div>
        
          <div class="form-group">
            <label class="col-lg-3 control-label" style="margin-top:5px;">Badge Received:</label>
            <div class="col-lg-8">
<!--              <input class="form-control" type="text" value="janesemail@gmail.com">-->
                <label class="control-label"><a class="badge" title="Gold Badge" data-toggle="tooltip" data-placement="left" title="Tooltip on left"><span class="gold"></span> legendary</a></label>
            </div>
          </div>
            
        </form>
        </div>  

        <div class="alert alert-info alert-dismissable" ng-show='isAlertDisplay'>
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          You need to have atleast two comeplete mandatory views.
        </div>
          
        <h3>Views</h3>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="profile-title-header">
                  <div class="pull-left"><h3 class="panel-title">Location</h3></div>
                  <div class="pull-right spaceLeft"><span class="label label-danger">Mandatory</span></div>
                  <div class="pull-right" ng-show="location.isComplete"><span class="label label-success">Complete</span></div>
                  <div class="pull-right" ng-hide="location.isComplete"><span class="label label-warning">Incomplete</span></div>
              </div>
          </div>
          <div class="panel-body">
              <div id="locationForm" location-form-validator>
                <div class="panel-body" ng-show="location.form">
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Country:</label>
                        <div class="col-lg-8">
                           <input type="text" class="form-control" id="inputCountry" placeholder="country" name="country" ng-model='country'/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">State:</label>
                        <div class="col-lg-8">
                         <input type="text" class="form-control" id="inputState" placeholder="State" name="state" ng-model='state'/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">City:</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="inputCity" placeholder="city" name="city" ng-model='city' />
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                          <button ng-show="!location.isComplete" type="submit" class="btn btn-primary" value="Save Changes" analytics-on analytics-event="_profilePage" analytics-category="profile save" analytics-label="location_profile">Save Changes</button>
                          <button ng-show="location.isComplete" type="submit" class="btn btn-primary" value="Update Changes" analytics-on analytics-event="_profilePage" analytics-category="profile update" analytics-label="location_profile">Update Changes</button>       
                        </div>
                      </div>
                    </form>
                  </div>
                  <div ng-hide='location.loader' class='text-center'>
                    <img src="/img/Preloader_2/Preloader_2.gif">
                  </div>
                  <div ng-hide='location.messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
                    <b>{{location.message}}</b>
                  </div> 
              </div>
          </div>
        </div>  
          
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="profile-title-header">
                  <div class="pull-left"><h3 class="panel-title">Education</h3></div>
                  <div class="pull-right spaceLeft"><span class="label label-danger">Mandatory</span></div>
                  <div class="pull-right" ng-show="college.isComplete"><span class="label label-success">Complete</span></div>
                  <div class="pull-right" ng-hide="college.isComplete"><span class="label label-warning">Incomplete</span></div>
              </div>
          </div>
          <div class="panel-body">
              <div id='collegeForm' college-form-validator>
                <div ng-show='college.form'>
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label class="col-lg-3 control-label">University Name:</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="collegeName" name='collegeName' placeholder="Enter name of your college" ng-model='collegeName' typeahead="suggestions for suggestions in getSingleValueProfileSuggestions($viewValue,'college')" class="form-control" autocomplete="off">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Concentration/Branch:</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="branch" placeholder="Enter branch eg: CSE, Biotech etc" name="branch" ng-model='branch' typeahead="suggestions for suggestions in getSingleValueProfileSuggestions($viewValue,'branch')" autocomplete="off">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <button ng-show="!college.isComplete" type="submit" class="btn btn-primary" value="Save Changes" analytics-on analytics-event="_profilePage" analytics-category="profile save" analytics-label="education_profile">Save Changes</button>
                            <button ng-show="college.isComplete" type="submit" class="btn btn-primary" value="Update Changes" analytics-on analytics-event="_profilePage" analytics-category="profile update" analytics-label="education_profile">Update Changes</button>
                        </div>
                      </div>
                    </form>
                </div>
                <div ng-hide='college.loader' class='text-center'>
                    <img src="/img/Preloader_2/Preloader_2.gif">
                </div>
                <div ng-hide='messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
                    <b>{{college.message}}</b>
                </div>  
              </div>
          </div>
        </div>
          
          
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="profile-title-header">
                  <div class="pull-left"><h3 class="panel-title">Company</h3></div>
                  <div class="pull-right spaceLeft"><span class="label label-danger">Mandatory</span></div>
                  <div class="pull-right" ng-show="company.isComplete"><span class="label label-success">Complete</span></div>
                  <div class="pull-right" ng-hide="company.isComplete"><span class="label label-warning">Incomplete</span></div>
            </div>
          </div>
          <div class="panel-body">
              <div id='collegeForm' company-form-validator>
                <div ng-show='company.form'>
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Company name:</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="companyName" placeholder="name" ng-model='companyName' name='company' typeahead="suggestions for suggestions in getSingleValueProfileSuggestions($viewValue,'company')" autocomplete="off">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Position:</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="position" placeholder="Position/Designation" ng-model='position' name='position' typeahead="suggestions for suggestions in getSingleValueProfileSuggestions($viewValue,'position')">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Project name</label>
                        <div class="col-lg-8">
<!--                            <input type="text" class="form-control" id="projectList" placeholder="Project name" ng-model='projectList' name="projectList" typeahead="suggestions for suggestions in getProfileSuggestions($viewValue,'projectList')">-->
                            
                            <input class="form-control" ng-model="projectList" value="{{projectList}}" id="projectList" name="projectList" />
                            
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Technical Skills / Technologies you work in</label>
                        <div class="col-lg-8">
                            <input class="form-control" ng-model='technicalSkillList' value="{{technicalSkillList}}" id="technicalSkillList" name="technicalSkillList" />
                        </div>
                      </div>     
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <button ng-show="!company.isComplete" type="submit" class="btn btn-primary" value="Save Changes" analytics-on analytics-event="_profilePage" analytics-category="profile save" analytics-label="company_profile">Save Changes</button>
                            <button ng-show="company.isComplete" type="submit" class="btn btn-primary" value="Update Changes" analytics-on analytics-event="_profilePage" analytics-category="profile update" analytics-label="company_profile">Update Changes</button>
                        </div>
                      </div>
                </form>
                </div>
                <div ng-hide='company.loader' class='text-center'>
                    <img src="/img/Preloader_2/Preloader_2.gif">
                </div>
                <div ng-hide='company.messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
                    <b>{{company.message}}</b>
                </div>   
              </div>
          </div>
        </div>
          
          
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="profile-title-header">
                  <div class="pull-left"><h3 class="panel-title">Passion</h3></div>
                   <div class="pull-right spaceLeft"><span class="label label-warning">Optional</span></div>
                  <div class="pull-right" ng-show="passion.isComplete"><span class="label label-success">Complete</span></div>
                  <div class="pull-right" ng-hide="passion.isComplete"><span class="label label-warning">Incomplete</span></div>
              </div>
          </div>
          <div class="panel-body">
            <div id='passionForm' passion-form-validator>
                <div ng-show='passion.form'>
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Fill things you are passionate about:</label>
                        <div class="col-lg-8">
                          <input class="form-control" name="passionList" ng-model="passionList" id='passionList' value="{{passionList}}" />
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <button ng-show="!passion.isComplete" type="submit" class="btn btn-primary" value="Save Changes" analytics-on analytics-event="_profilePage" analytics-category="profile save" analytics-label="passion_profile">Save Changes</button>
                            <button ng-show="passion.isComplete" type="submit" class="btn btn-primary" value="Update Changes" analytics-on analytics-event="_profilePage" analytics-category="profile update" analytics-label="passion_profile">Update Changes</button>
                        </div>
                      </div>
                    </form>
                </div>
                <div ng-hide='passion.loader' class='text-center'>
                    <img src="/img/Preloader_2/Preloader_2.gif">
                </div>
                <div ng-hide='passion.messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
                    <b>{{passion.message}}</b>
                </div> 
            </div>
          </div>
        </div>  
          
          
      </div>
  </div>
</div>
