<div ng-controller="phaseTwoSanatizeController">

    
    
     <div class="row" style='padding-top:5px;padding-bottom:5px;border-bottom:1px solid black;'>
         <div class='col-sm-1'>ID</div>
         <div class='col-sm-4 text-center'>Primary Value</div>
         <div class='col-sm-7 text-center'>Action</div>
     </div>
    
     <div ng-repeat="x in dataList" style='padding-top:7px;padding-bottom:5px;border-bottom:1px solid black;' class="row">
     <div class="row">
         <div class='col-sm-1'>{{x.id}}</div>
         <div class='col-sm-3'><input type="text" class="form-control" placeholder='Add Secondary' ng-model="dataList[$index].primaryInput"></div>
         <div class='col-sm-2'><button class="btn btn-default btn-success" ng-click="editPrimaryData($index)" style='color:white;'>Submit Primary</button></div>
         <div class='col-sm-2'><button class="btn btn-default btn-success" ng-click="deletePrimaryData($index)" style='color:white;'>Delete Primary</button></div>
         <div class='col-sm-2'>
              <input type="text" class="form-control" placeholder='Add Secondary' ng-model="dataList[$index].input">
         </div>
         <div class='col-sm-1'>
             <button class="btn btn-default btn-success" ng-click="addSecondaryData($index)" style='color:white;'>Submit Symbol</button>
         </div>
     </div>
     <hr>     
     <div class='row'>
             <div class="col-sm-1"></div>
             <div class="col-sm-2" ng-repeat='s in x.symbols'>
             <div class="input-group" >
                <input type="text" class="form-control" ng-model='x.symbols[$index].symbolName' ng-disabled='true'>
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button" ng-click="deleteSecondaryData(s.symbolId,$index,$parent.$index)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </span>
             </div>
             </div>
      </div>  
     </div>

    
</div>