<div ng-controller="phaseOneSanatizeController">

    
    
     <div class="row" style='padding-top:5px;padding-bottom:5px;border-bottom:1px solid black;'>
         <div class='col-sm-1'>ID</div>
         <div class='col-sm-8'>Primary Value</div>
         <div class='col-sm-3'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</div>
     </div>
    
     <div class="row" ng-repeat="x in dataList" style='padding-top:7px;padding-bottom:5px;border-bottom:1px solid black;'>
         <div class='col-sm-1'>{{x.id}}</div>
         <div class='col-sm-8'><input class="form-control" name="passionList" ng-model="dataList[$index].value"/></div>
         <div class='col-sm-3'>
             <button class="btn btn-default btn-success" ng-click='updateData($index)' style='color:white;'>Submit</button>
             <button class="btn btn-default btn-success" ng-click='deleteData($index)' style='color:white;'>Delete</button>
         </div>
     </div>
    
</div>