<div class="modal-header text-center">
    <h3 class="modal-title">Create Message</h3>
</div>
<div class="modal-body">      
     <div ng-show="isCreateMessage">
         <div class="form-group">
            <label for="exampleInputEmail1">Message Title</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Message Title" ng-model="message.messageTitle" ng-change="title()">
          </div>
         <div style="text-align:right;">
             {{messageTitleAlert}}
         </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Message Body</label>
            <div><textarea class="msgTextarea" ng-model="message.messageBody" ng-change="body()"></textarea></div>
          </div>
          <div style="text-align:right;">
             {{messageBodyAlert}}
         </div>
     </div>
     <div ng-hide="isCreateMessage" class="text-center" style="padding-top:30px;padding-bottom:30px;font-size:16px;">
         Sorry you need to SignIn for sending messages !!!
     </div>
    
    <div ng-hide="isMessageSubmit" class="text-center" style="padding-top:30px;padding-bottom:30px;font-size:16px;">
        {{afterMessageSubmitAlert}}
     </div>
     
</div>
<div class="modal-footer">
    <div class="text-center">
        <button ng-show="isCreateMessage" class="btn btn-primary" ng-click="send()" analytics-on analytics-event="_messageCreate" analytics-category="message create" analytics-label="message_created">Send it Away</button>
        <button class="btn btn-warning" ng-click="cancel()" analytics-on analytics-event="_messageCreate" analytics-category="message create" analytics-label="message_cancel">Cancel</button>
    </div>
</div> 