<div ng-controller="emailverificationController">
    <div class="row text-center">

       <div id="overlay">
       </div>
        <div id="referloader" class='text-center'>

            <div class="panel panel-default" style="width:400px;">
              <div class="panel-heading">
                <h2 class="panel-title">Verfiying your EmailId , Please wait</h2>
              </div>
              <div class="panel-body">
                <img ng-show="emailVerify.isLoader" src="/img/Preloader_2/Preloader_2.gif">
                <h1 ng-show="emailVerify.isMessage" class="panel-title">{{emailVerify.message}}</h1>  
              </div>
              <div class="panel-footer"></div>
            </div>
                
        </div> 
        
    </div>
</div>