<div ng-controller="forgetPasswordController">
    <h1>Forgot Password</h1>
  	<hr>
    <div>
       
    </div>
	<div class="row">
      <!-- left column -->
      <div class="col-md-12">
            <div id='forgetPasswordFrom' forgetpassword-form-validator>
                <div ng-show='forgetPassword.form'>
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <div class="col-md-3"></div>  
                        <div class="col-md-6 text-center">
                           <div style="margin-bottom:10px;font-size:23px;">Forgot Password? Request a new one.</div>
                           <div style="margin-bottom:10px;font-size:23px;">Kindly enter your Email:</div>    
                           <div class="form-group">
                           <div style="margin-bottom:10px;">
                               <input style="font-size:23px;height:44px;" type="email" class="form-control" id="inputEmail" placeholder="EmailId" name="email" ng-model="forgetPassword.emailId">
                            </div>
                            </div>    
                           <div class="text-center">
                            <button type="submit" class="btn btn-primary  btn-lg" value="Save Changes">Submit</button>
                           </div>    
                        </div>
                        <div class="col-md-3"></div>   
                      </div>  
                    </form>
                </div>
                <div ng-show='forgetPassword.loader' class='text-center'>
                    <img src="/img/Preloader_2/Preloader_2.gif">
                </div>
                <div ng-show='forgetPassword.messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
                    <b>{{forgetPassword.message}}</b>
                </div> 
            </div>
      </div>
  </div>
</div>
