<div ng-controller="getAllController">
    <table class="table table-striped">
      <thead>    
      <tr>
        <th>Profile Edit Link</th>  
        <th>UserId</th>  
        <th>EmailId</th>
        <th>Location</th> 
        <th>Education</th>
        <th>Company</th>
        <th>Passions</th>
      </tr>
      </thead>
      <tbody>    
      <tr ng-repeat="x in profileList">
        <td class="filterable-cell"><a ng-href="{{x.profileEditLink}}" target="_blank" >Link</a></td>    
        <td class="filterable-cell">{{ x.userId }}</td>  
        <td class="filterable-cell">{{ x.emailId }}</td>
        <td class="filterable-cell">{{ x.location }}</td>
        <td class="filterable-cell">{{ x.education }}</td>
        <td class="filterable-cell">{{ x.company }}</td>
        <td class="filterable-cell">{{ x.passion }}</td>
      </tr>
      </tbody>
    </table>
</div>