<div ng-controller="howItWorksController">
    <h1>How it works</h1>
  	<hr>
    <div class="row text-center">
            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail" style="background-color:transparent;border:0px;">
                    <img class="forSearch" src="../img/1413067952_search.png" alt="">
                    <div class="caption">
                        <h3>Search Audience</h3>
                        <p>Search for audience to whom you want to send a message</p>
                        <p>
                            <a ng-click="gotoAnchor('search')" class="btn btn-default">Learn More</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail" style="background-color:transparent;border:0px;">
                    <img src="../img/1413068277_envelope.png" alt="">
                    <div class="caption">
                        <h3>Send Message</h3>
                        <p>Compose a message and send it to the audience you selected</p>
                        <p>
                            <a ng-click="gotoAnchor('create')" class="btn btn-default">Learn More</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail" style="background-color:transparent;border:0px;">
                    <img src="../img/1413068337_messages.png" alt="">
                    <div class="caption">
                        <h3>Recieve Replies</h3>
                        <p>Get replies from the audience who received your message</p>
                        <p>
                            <a ng-click="gotoAnchor('recieve')" class="btn btn-default">Learn More</a>
                        </p>
                    </div>
                </div>
            </div>
        
        </div>
        <hr>
        <div class="content-section-a">

                <div class="container" id="search">

                    <div class="row">
                        <div class="col-lg-5 col-sm-6">
                            <div class="clearfix"></div>
                            <h2 class="section-heading" style="font-size:22px;">Search Audience:</h2>
                            <p class="lead">In RevLeg, to send a message , you need to search for the audience to whom you want to deliver a message.
Search for audience is done using search box provided on <a href="#/search">home page</a>. You can use keywords like <span class="italics">"living in bangalore"</span> to get audience living in bangalore , <span class="italics">"education from college Acme university"</span> to get audience whose education from Acme university , <span class="italics">"working in Acme Corp "</span> to get audience working in Acme Corp , <span class="italics">"passionate about guitar"</span> to get audience passionate about guitar.</p>
                            <p class="lead">Selecting <span class="italics">precise audience</span> for your message increase chances of your getting reply quickly.</p>
                        </div>
                        <div class="col-lg-5 col-lg-offset-2 col-sm-6" style="padding-top:60px;">
                            <img class="img-responsive" src="../img/peoplev4.jpg" alt="">
                        </div>
                    </div>

                </div>
                <!-- /.container -->

            </div>
            <!-- /.content-section-a -->

            <div class="content-section-b" id="create">

                <div class="container">

                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                            <div class="clearfix"></div>
                            <h2 class="section-heading" style="font-size:22px;">Send Message</h2>
                            <p class="lead">After selecting audience for your message , compose a message with message subject and message body and send it. Make message subject precise and elaborate message body. It will help you to grab attention of audience.</p>
                        </div>
                        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                            <img class="img-responsive"  src="../img/intro-bg.jpg" alt="">
                        </div>
                    </div>

                </div>
                <!-- /.container -->

            </div>
            <!-- /.content-section-b -->

            <div class="content-section-a" id="recieve">

                <div class="container" >

                    <div class="row">
                        <div class="col-lg-5 col-sm-6">
                            <div class="clearfix"></div>
                            <h2 class="section-heading" style="font-size:22px;">Recieve Replies</h2>
                            <p class="lead">You will receive replies from your audience and all those users who were part of the audience will be able to participate in the discussion.</p>
                        </div>
                        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <img class="img-responsive"  src="../img/30H.jpg" alt="">
                        </div>
                    </div>

                </div>
                <!-- /.container -->

            </div>
            <!-- /.content-section-a -->
</div>