<div>
    <h1>How it works</h1>
  	<hr>
    <div class="row text-center">
<!--        <iframe src="//slides.com/revleg/welcome-to-revleg-2/embed?style=light" width="1100" height="550" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->

        <div class="col-lg-12">
                    <div class="intrinsic-container">
                <iframe src="//slides.com/praveenmenon/welcome-to-revleg-2/embed?style=light" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        </div>
        
    </div>    
</div> 