<div ng-controller="inboxMCQController">
    <h1>Message Received</h1>
  	<hr>
    
    <div class="row">
        <div class="col-md-2 hidden-xs"></div>
        <div class="col-md-8">
                <div id="messageInbox" class="row">
                <!-- example for a single message -->
                    <div class="panel panel-default wrapper" style="margin-bottom:60px;"  ng-repeat="message in messageList" id="scrollIntoView_{{message.messageId}}" scroll-if="{{message.messageId}}"  on-last-repeat>
                    
                     <div ng-if="message.messageType == '0'">
                         <div class="ribbon-wrapper"><div class="ribbon-pink">Old Format</div></div> 
                     </div>     
                        
 
                        
                     <div class="panel-heading"> 
                        
                        <div ng-if="message.messageType == '1'">
                            <div class="ribbon-wrapper-status" ng-if=" message.messageStatus == 'open'  ">
                                <div class="ribbon_flag green">Open</div>
                            </div>
                            <div class="ribbon-wrapper-status-submitted" ng-if=" message.messageStatus == 'submitted'  ">
                                <div class="ribbon_flag blue">Submitted</div>
                            </div>
                            <div class="ribbon-wrapper-status-closed" ng-if=" message.messageStatus == 'closed'  ">
                                <div class="ribbon_flag orange">Closed</div>
                            </div>
                        </div>    
                         
                        <div class="media">                            
                          <a class="pull-left" href="#" style="padding-top:10px;">
                            <img class="media-object img-thumbnail"  ng-src="{{message.profilePic}}" alt="..." width="100px;" height="100px;"> 
                          </a>
                          <p></p>     
                          <div class="media-body">
                            <h4 class="media-heading">{{message.messageSubject}}</h4>
                            <p style="margin-top:10px;margin-bottom:10px;">{{message.messageBody}}</p> 
                            <p class="pull-left" ng-if="message.messageType == '1'" class="pull-left"><span style="font-size:12px;" class="label label-info">Total Audience &nbsp;<span style="font-size:14px;" class="badge">{{message.totalReach}}</span></span></p>    
                            <p class="time pull-right" style="margin-left:15px;padding-top:5px;" >{{message.createdOn}}</p>
                            <p class="time pull-right" style="padding-top:5px;"><span style="font-size:12px;">{{message.createrUserName}} &nbsp; ,</span></p>  
                          </div>
                          <div>
                          </div>    
                        </div>
                      </div>
                        
                         
                      <div class="panel-body">
                          
                        <div class="comments" style="padding-right:30px;padding-left:30px;">
                            
                            <!-- New Commenting --> 
                            <div class="media row"  ng-repeat="comment in message.comment" ng-if="message.messageType == '1'">
                              <div class="col-md-4" style="padding-top:10px;padding-left:5px;">  
                                <input type="radio" ng-model="optionValue[message.messageId]" ng-value="comment.commentId" 
                                       ng-disabled="message.anyAction == 'no'">&nbsp;{{comment.commentBody}} 
                              </div>
                              <div class="col-md-2" style="padding-top:13px;padding-left:5px;">
                                  <label>{{comment.percentLike}}%</label>
                              </div>
                              <div class="col-md-3" style="padding-top:10px;padding-left:5px;">
                                  <span ng-if="comment.isLikeByUser == 'yes'" class="label label-success">Accepted By You</span>
                              </div>      
                              <div class="col-md-3" style="padding-top:10px;padding-left:5px;">
                                  <span ng-if="comment.isLikeByOwner == 'yes'" class="label label-primary">Accepted By Sender</span>
                              </div>     
                            </div>
                            <div ng-show="!message.comment.length" class="text-center">
                                Zero Comments 
                            </div>
                            <!-- end -->
                            
                            <!-- old commenting technique -->
                            <div class="media commentList"  ng-repeat="comment in message.comment" ng-if="message.messageType == '0'">
                              <a class="pull-left" href="#" style="padding-top:10px;">
                                <img class="media-object img-thumbnail" ng-src="{{comment.profilePic}}" alt="..." height="50px;" width="50px;">
                              </a>
                              <div class="media-body" style="padding-top:10px;">
                                <p>{{comment.commentBody}}</p>
                                    <p class="time pull-left"><span style="font-size:12px;">{{comment.createrUserName}}</span></p>  
                                    <p class="time pull-right">{{comment.createdOn}}</p>  
                              </div>
                            </div>
                            <!-- end -->
                            
                        </div>
                      </div>
                            <div class="row text-center" style="padding-top:10px;padding-bottom:15px;">
                            <button class="btn btn-primary" ng-click="submitOpinion(message.messageId)">Submit Your Opinion</button>
                          </div>    
                      <div class="panel-footer" ng-if="message.anyAction == 'yes'">

                          <div class="row">
                              
<!-- comments container -->
		<div class="comment_block">

		<!-- 
			Comments are structured in the following way:

			{ul} defines a new comment (singular)
			{li} defines a new reply to the comment {ul}

			example:

			<ul>
				<comment>
					
				</comment

					<li>
						<reply>

						</reply>
					</li>

					<li>
						<reply>

						</reply>
					</li>

					<li>
						<reply>

						</reply>
					</li>
			</ul>

		 -->


            
             
            
     


		 <!-- new comment -->
		 <div class="new_comment">

			<!-- build comment -->
		 	<ul class="user_comment">
            
            <li class="user_comment_li">
		 		<!-- current #{user} avatar -->
			 	<div class="user_avatar">
			 		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/73.jpg">
			 	</div><!-- the comment body --><div class="comment_body">
			 		<p><p>Gastropub cardigan jean shorts, kogi Godard PBR&B lo-fi locavore. Organic chillwave vinyl Neutra. Bushwick Helvetica cred freegan.</p></p>
			 	</div>

			 	<!-- comments toolbar -->
			 	<div class="comment_toolbar">

			 		<!-- inc. date and time -->
			 		<div class="comment_details">
			 			<ul>
			 				<li><i class="fa fa-clock-o"></i> 14:52</li>
			 				<li><i class="fa fa-pencil"></i> <span class="user">Andrew Johnson</span></li>
			 			</ul>
			 		</div>

			 	</div>


		 	</li>     
                
                
            <li class="user_comment_li">
		 		<!-- current #{user} avatar -->
			 	<div class="user_avatar">
			 		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/73.jpg">
			 	</div><!-- the comment body --><div class="comment_body">
			 		<p><div class=""><p>Gastropub cardigan jean shorts, kogi Godard PBR&B lo-fi locavore. Organic chillwave vinyl Neutra. Bushwick Helvetica cred freegan.</p></div></p>
			 	</div>

			 	<!-- comments toolbar -->
			 	<div class="comment_toolbar">

			 		<!-- inc. date and time -->
			 		<div class="comment_details">
			 			<ul>
			 				<li><i class="fa fa-clock-o"></i> 14:52</li>
			 				<li><i class="fa fa-pencil"></i> <span class="user">Andrew Johnson</span></li>
			 			</ul>
			 		</div>

			 	</div>


		 	</li> 

			 	<!-- start user replies -->
		 	<li class="user_comment_li">
		 		
		 		<!-- current #{user} avatar -->
			 	<div class="user_avatar">
			 		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/manugamero/73.jpg">
			 	</div><!-- the comment body --><div class="comment_body">
			 		<p><div class=""><p>Gastropub cardigan jean shorts, kogi Godard PBR&B lo-fi locavore. Organic chillwave vinyl Neutra. Bushwick Helvetica cred freegan.</p></div></p>
			 	</div>

			 	<!-- comments toolbar -->
			 	<div class="comment_toolbar">

			 		<!-- inc. date and time -->
			 		<div class="comment_details">
			 			<ul>
			 				<li><i class="fa fa-clock-o"></i> 14:52</li>
			 				<li><i class="fa fa-pencil"></i> <span class="user">Andrew Johnson</span></li>
			 			</ul>
			 		</div>

			 	</div>


		 	</li>

		 		<!-- start user replies -->
		 	<li class="user_comment_li">
		 		
		 		<!-- current #{user} avatar -->
			 	<div class="user_avatar">
			 		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/ManikRathee/73.jpg">
			 	</div><!-- the comment body --><div class="comment_body">
			 		<p><div class=""><p>Gastropub cardigan jean shorts.</p></div></p>
			 	</div>

			 	<!-- comments toolbar -->
			 	<div class="comment_toolbar">

			 		<!-- inc. date and time -->
			 		<div class="comment_details">
			 			<ul>
			 				<li><i class="fa fa-clock-o"></i> 14:59</li>
			 				<li><i class="fa fa-pencil"></i> <span class="user">Simon Gregor</span></li>
			 			</ul>
			 		</div>

			 	</div>


		 	</li>

		 	</ul>

		 </div>

         <!-- used by #{user} to create a new comment -->
         <div class="create_new_comment">

			<!-- current #{user} avatar -->
		 	<div class="user_avatar">
		 		<img src="http://revleg.com/api/service/profile/pic/3/3z8bs7w5vwnjvnrxio7c.jpg">
		 	</div><!-- the input field --><div class="input_comment">
		 		<input type="text" placeholder="Join the conversation..">
		 	 </div> 
             <br>
             <button type="button" class="btn btn-primary btn-sm" style="float:right;">Reset</button>
             <button type="button" class="btn btn-success btn-sm" style="float:right;margin-right:10px;">Submit</button>
		 </div>


		</div>
                          </div>
                      </div>
                      <!-- end -->
                      
                     <!-- old commenting -->
                        
                     <!-- end -->    
                        
                    </div>
                    <!-- end -->
                    <div ng-show="isAlertForInbox">
                        {{inboxAlertMessage}}
                    </div>
                <!-- end of single message -->        
                </div>
        </div>
        <div class="col-md-2 hidden-xs"></div>
    </div>
</div>