<div ng-controller="inboxMCQController">
    <h1>Message Received</h1>
    <p style="color:#337ab7;margin-left:200px;">* Questions which were sent to audience, you were part of.</p>
  	<hr>
    
    <div class="row">
        <div class="col-md-2 hidden-xs"></div>
        <div class="col-md-8">
                <div id="messageInbox" class="row">
                <!-- example for a single message -->
                    <div class="panel panel-default wrapper" style="margin-bottom:60px;"  ng-repeat="message in messageList" id="scrollIntoView_{{message.messageId}}" scroll-if="{{message.messageId}}"  on-last-repeat  ng-if="message.messageType == '1'">
                        
                     <div class="panel-heading"> 
                        
                        <div ng-if="message.messageType == '1'">
                            <div class="ribbon-wrapper-status" ng-if=" message.messageStatus == 'open'  ">
                                <div class="ribbon_flag green">Open</div>
                            </div>
                            <div class="ribbon-wrapper-status-submitted" ng-if=" message.messageStatus == 'submitted'  ">
                                <div class="ribbon_flag blue">Submitted</div>
                            </div>
                            <div class="ribbon-wrapper-status-closed" ng-if=" message.messageStatus == 'closed'  ">
                                <div class="ribbon_flag orange">Closed</div>
                            </div>
                        </div>    
                         
                        <div class="media">                            
                          <a class="pull-left" href="#" style="padding-top:10px;">
                            <img class="media-object img-thumbnail"  ng-src="{{message.profilePic}}" alt="..." width="100px;" height="100px;"> 
                          </a>
                          <p></p>     
                          <div class="media-body">
                            <h4 class="media-heading">{{message.messageSubject}}</h4>
                            <p style="margin-top:10px;margin-bottom:10px;">{{message.messageBody}}</p> 
                              
                            <span class="pull-left" style="color:#95A5A6;black;margin-right:5px;margin-top:5px;"><i class="fa fa-users fa-2x" style="color:#337ab7;"></i></span>    
                            <p class="pull-left" style="margin-right:25px;font-size:15px;margin-top:7px;">{{message.totalReach}}</p>   
                              
                              
                            <span class="pull-left" style="cursor: pointer;color:#95A5A6;margin-right:5px;margin-top:5px;" ng-click="upVote(message.messageId)" ng-if="message.isLikeByUser == 'no' && message.isDisLikeByUser == 'no'"><i class="fa fa-thumbs-up fa-2x"></i></span>
                            <span class="pull-left" style="color:#95A5A6;margin-right:5px;margin-top:5px;"><i class="fa fa-thumbs-up fa-2x" style="color:green;" ng-if="message.isLikeByUser == 'yes' && message.isDisLikeByUser == 'no' "></i></span>   
                            
                            <span class="pull-left" style="color:#95A5A6;margin-right:5px;margin-top:5px;"><i class="fa fa-thumbs-up fa-2x" ng-if="message.isLikeByUser == 'no' && message.isDisLikeByUser == 'yes' "></i></span>    
                              <p class="pull-left" style="margin-right:25px;font-size:15px;margin-top:7px;">{{message.totalLike}}</p> 
                              
                              
                              
                            <span class="pull-left" style="margin-left:10px;cursor: pointer;color:#95A5A6;margin-right:5px;margin-top:5px;" ng-click="downVote(message.messageId)" ng-if=" message.isDisLikeByUser == 'no' && message.isLikeByUser == 'no'"><i class="fa fa-thumbs-down fa-2x"></i></span>  
                            <span class="pull-left" style="margin-left:10px;color:#95A5A6;margin-right:5px;margin-top:5px;" ng-if="message.isDisLikeByUser == 'yes' && message.isLikeByUser == 'no'"><i class="fa fa-thumbs-down fa-2x" style="color:red;"></i></span> 
                            
                            <span class="pull-left" style="margin-left:10px;color:#95A5A6;margin-right:5px;margin-top:5px;" ng-if="message.isDisLikeByUser == 'no' && message.isLikeByUser == 'yes'"><i class="fa fa-thumbs-down fa-2x" ></i></span>   
                              <p class="pull-left" style="margin-right:15px;font-size:15px;margin-top:7px;">{{message.totalDisLike}}</p> 
                              
                              
                              
                            <p class="time pull-right" style="margin-left:15px;font-size:14px;" ><i class="fa fa-clock-o"></i>&nbsp;{{message.time}}</p>
                            <p class="time pull-right" style="margin-left:15px;font-size:14px;" ><i class="fa fa-calendar"></i>&nbsp;{{message.date}}</p>  
                            <p class="time pull-right"><span style="font-size:14px;" class="capitalize"><i class="fa fa-pencil"></i>&nbsp;{{message.createrUserName}} &nbsp;</span></p>
                              
<!--                            <p class="time pull-right" style="margin-right:15px;font-size:14px;" ><i class="fa fa-user"></i></i>&nbsp;{{message.totalReach}}</p>   -->
                              
                          </div>
                          <div>
                          </div>    
                        </div>
                         
                      </div>
                        
                         
                      <div class="panel-body">
                          
                        <div class="comments" style="padding-right:30px;padding-left:30px;">
                            
                            <!-- New Commenting --> 
                            <div class="media row"  ng-repeat="comment in message.comment" ng-if="message.messageType == '1'">
                              <div class="col-md-7" style="padding-top:10px;padding-left:5px;">  
                                <input type="radio" ng-model="optionValue[message.messageId]" ng-value="comment.commentId" 
                                       ng-disabled="message.anyAction == 'no'">&nbsp;{{comment.commentBody}} 
                              </div>
                              <div class="col-md-1" style="padding-top:13px;padding-left:5px;">
                                  <label>{{comment.percentLike}}%</label>
                              </div>
                              <div class="col-md-2" style="padding-top:10px;padding-left:20px;">
                                  <span ng-if="comment.isLikeByUser == 'yes'" class="label label-success">Accepted By You</span>
                              </div>      
                              <div class="col-md-2" style="padding-top:10px;padding-left:5px;">
                                  <span ng-if="comment.isLikeByOwner == 'yes'" class="label label-primary">Accepted By Sender</span>
                              </div>     
                            </div>
                            <div ng-show="!message.comment.length" class="text-center">
                                Zero Comments 
                            </div>
                            <!-- end -->                            
                        </div>
                      </div>
                      <div class="row text-center" style="padding-top:10px;padding-bottom:15px;" ng-if="message.anyAction == 'yes'">
                            <button class="btn btn-primary" ng-click="submitOpinion(message.messageId,$index)" ng-disabled="message.buttonDisabled">Submit Your Opinion</button>
                      </div>    
                      <div class="panel-footer">

                         <div class="row">
    
                         <div class="row">
                             
                            <div class="row">
                             
                             <section ng-hide="message.suggestionLength==0 || message.suggestionLength==1">
                             <a  ng-init="showComment[message.messageId]=commentReturnValue(message.messageId)" ng-click="showComment[message.messageId]=false" ng-show="showComment[message.messageId]" style='padding-left: 90px;text-decoration: none;cursor:pointer'>
                                 <i class="fa fa-comment"></i> View {{message.suggestionLength-1}} more comments
                             </a>
                             </section>

                            <section ng-hide="message.suggestionLength==0 || message.suggestionLength==1">
                             <a ng-click="showComment[message.messageId]=true" ng-hide="showComment[message.messageId]" ng-if="message.suggestionLength > 1" style='padding-left: 90px;text-decoration: none;cursor:pointer'>
                                <i class="fa fa-comment"></i> Hide comments
                             </a>
                             </section>         
                             
                             </div>  
                             
                         </div>        
                              
                         <!-- comments container -->
                          <div class="comment_block">
                                 <!-- new comment -->
                                 <div class="new_comment">

                                    <!-- build comment -->
                                    <ul class="user_comment">
                                        
                                        <section ng-hide="showComment[message.messageId]" >
                                        <li class="user_comment_li" ng-repeat="suggestion in message.suggestion" ng-if="$index < message.suggestionLength - 1">
                                        <!-- current #{user} avatar -->
                                        <div class="user_avatar">
                                            <img ng-src="{{suggestion.profilePic}}">
                                        </div><!-- the comment body --><div class="comment_body">
                                            <p class="word-wrap">{{suggestion.suggestionBody}}</p>
                                        </div>

                                        <!-- comments toolbar -->
                                        <div class="comment_toolbar">

                                            <!-- inc. date and time -->
                                            <div class="comment_details">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>{{suggestion.createdOn}}</li>
                                                    <li><i class="fa fa-pencil"></i> <span class="user capitalize">{{suggestion.createrUserName}}</span></li>
                                                </ul>
                                            </div>

                                        </div>
                                        </li>
                                        </section>
                                        <li class="user_comment_li" ng-repeat="suggestion in message.suggestion" ng-show="$last">
                                        <!-- current #{user} avatar -->
                                        <div class="user_avatar">
                                            <img ng-src="{{suggestion.profilePic}}">
                                        </div><!-- the comment body --><div class="comment_body">
                                            <p class="word-wrap">{{suggestion.suggestionBody}}</p>
                                        </div>

                                        <!-- comments toolbar -->
                                        <div class="comment_toolbar">

                                            <!-- inc. date and time -->
                                            <div class="comment_details">
                                                <ul>
                                                    <li><i class="fa fa-pencil"></i> <span class="user capitalize">{{suggestion.createrUserName}}</span></li>
                                                    <li><i class="fa fa-calendar"></i> {{suggestion.date}}</li>
                                                    <li><i class="fa fa-clock-o"></i> {{suggestion.time}}</li>
                                                </ul>
                                            </div>

                                        </div>
                                        </li>
                                        
<!--
                                        <li ng-show="!message.suggestion.length" class="text-center zeroComment">
                                            Zero Comments 
                                        </li>
-->
                                        
                                    </ul>

                                 </div>

                                 <!-- used by #{user} to create a new comment -->
                                 <section ng-if=" message.messageStatus != 'closed'  ">
                                 <section ng-show="message.isCommentingAllowed">     
                                 <section ng-if=" message.messageStatus != 'closed'  " suggestions messageId='{{message.messageId}}'>
                                     <div class="create_new_comment">

                                        <!-- current #{user} avatar -->
                                        <div class="user_avatar">
                                            <img ng-src="{{user.profilePic}}">
                                        </div><!-- the input field --><div class="input_comment">
                                         
                                        <textarea  msd-elastic="\n" class="comment_textarea" type="text" placeholder="Join the conversation.." ng-model="myComment.commentEntered" ng-change="commentChange()" rows='2' cols='77'></textarea>
                                         
                                         </div> 
                                     </div>
                                    <div class="row" style="padding-left:90px;">
                                    <p style="color:red;font-size:13px;">{{commentAlert}}</p>
                                    <button  type="button" class="btn btn-primary btn-sm" ng-click="submitComment()" style="float:left;" >Submit</button>
                                    <button  type="button" class="btn btn-success btn-sm" style="float:left;margin-left:10px;" ng-click="suggestionReset(message.messageId)">Cancel</button>
                                    </div> 
                                 
                                </section>        
                                </section>    
                                </section>           
                                </div>
                          </div>
                      </div>
                      <!-- end -->
                      
                     <!-- old commenting -->
                        
                     <!-- end -->    
                        
                    </div>
                    </section>    
                    <!-- end -->
                    <div ng-show="isAlertForInbox" class="text-center" style="font-size:30px;">
                        {{inboxAlertMessage}} 
                        <br>
                        Please check your <a href="#!/openquestions">Open Questions</a>
                    </div>
                    <div ng-show="loadingScreenMessge" class="text-center" style="font-size: 24px;padding-bottom: 20px;color: green;">
                        Loading Data ....
                    </div>
                <!-- end of single message -->        
                </div>
        </div>
        <div class="col-md-2 hidden-xs"></div>
    </div>
</div>