<div ng-controller="inboxMCQController">
    <h1>Message Received</h1>
  	<hr>
    
    <div class="row">
        <div class="col-md-2 hidden-xs"></div>
        <div class="col-md-8">
                <div id="messageInbox" class="row">
                <!-- example for a single message -->
                    <div class="panel panel-default wrapper" style="margin-bottom:60px;"  ng-repeat="message in messageList" id="scrollIntoView_{{message.messageId}}" scroll-if="{{message.messageId}}"  on-last-repeat>
                    
                     <div ng-if="message.messageType == '0'">
                         <div class="ribbon-wrapper"><div class="ribbon-pink">Old Format</div></div> 
                     </div>     
                        
 
                        
                     <div class="panel-heading"> 
                        
                        <div ng-if="message.messageType == '1'">
                            <div class="ribbon-wrapper-status" ng-if=" message.messageStatus == 'open'  ">
                                <div class="ribbon_flag green">Open</div>
                            </div>
                            <div class="ribbon-wrapper-status-submitted" ng-if=" message.messageStatus == 'submitted'  ">
                                <div class="ribbon_flag blue">Submitted</div>
                            </div>
                            <div class="ribbon-wrapper-status-closed" ng-if=" message.messageStatus == 'closed'  ">
                                <div class="ribbon_flag orange">Closed</div>
                            </div>
                        </div>    
                         
                        <div class="media">                            
                          <a class="pull-left" href="#" style="padding-top:10px;">
                            <img class="media-object img-thumbnail"  ng-src="{{message.profilePic}}" alt="..." width="100px;" height="100px;"> 
                          </a>
                          <p></p>     
                          <div class="media-body">
                            <h4 class="media-heading">{{message.messageSubject}}</h4>
                            <p style="margin-top:10px;margin-bottom:10px;">{{message.messageBody}}</p> 
                            <p class="pull-left" ng-if="message.messageType == '1'" class="pull-left"><span style="font-size:12px;" class="label label-info">Total Audience &nbsp;<span style="font-size:14px;" class="badge">{{message.totalReach}}</span></span></p>    
                            <p class="time pull-right" style="margin-left:15px;padding-top:5px;" ><i class="fa fa-clock-o">&nbsp;{{message.createdOn}}</p>
                            <p class="time pull-right" style="padding-top:5px;"><span style="font-size:12px;"><i class="fa fa-pencil"></i>&nbsp;{{message.createrUserName}} &nbsp; ,</span></p>  
                          </div>
                          <div>
                          </div>    
                        </div>
                      </div>                         
                      <div class="panel-body">
                          
                        <div class="comments" style="padding-right:30px;padding-left:30px;">
                            
                            <!-- New Commenting --> 
                            <div class="media row"  ng-repeat="comment in message.comment" ng-if="message.messageType == '1'">
                              <div class="col-md-4" style="padding-top:10px;padding-left:5px;">  
                                <input type="radio" ng-model="optionValue[message.messageId]" ng-value="comment.commentId" 
                                       ng-disabled="message.anyAction == 'no'">&nbsp;{{comment.commentBody}} 
                              </div>
                              <div class="col-md-2" style="padding-top:13px;padding-left:5px;">
                                  <label>{{comment.percentLike}}%</label>
                              </div>
                              <div class="col-md-3" style="padding-top:10px;padding-left:5px;">
                                  <span ng-if="comment.isLikeByUser == 'yes'" class="label label-success">Accepted By You</span>
                              </div>      
                              <div class="col-md-3" style="padding-top:10px;padding-left:5px;">
                                  <span ng-if="comment.isLikeByOwner == 'yes'" class="label label-primary">Accepted By Sender</span>
                              </div>     
                            </div>
                            <div ng-show="!message.comment.length" class="text-center">
                                Zero Comments 
                            </div>
                            <!-- end -->
                            
                            <!-- old commenting technique -->
                            <div class="media commentList"  ng-repeat="comment in message.comment" ng-if="message.messageType == '0'">
                              <a class="pull-left" href="#" style="padding-top:10px;">
                                <img class="media-object img-thumbnail" ng-src="{{comment.profilePic}}" alt="..." height="50px;" width="50px;">
                              </a>
                              <div class="media-body" style="padding-top:10px;">
                                <p>{{comment.commentBody}}</p>
                                    <p class="time pull-left"><span style="font-size:12px;">{{comment.createrUserName}}</span></p>  
                                    <p class="time pull-right">{{comment.createdOn}}</p>  
                              </div>
                            </div>
                            <!-- end -->
                            
                        </div>
                      </div>
                      <div class="row text-center" style="padding-top:10px;padding-bottom:15px;" ng-if="message.anyAction == 'yes'">
                        <button class="btn btn-primary" ng-click="submitOpinion(message.messageId)">Submit Your Opinion</button>
                      </div>    
                      <div class="panel-footer">

                          <div class="row">
                              
                            <div class="comment_block">

                             <!-- new comment -->
                             <div class="new_comment">

                                <!-- build comment -->
                                <ul class="user_comment">

                                <li class="user_comment_li" ng-repeat="suggestion in message.suggestion">
                                    <!-- current #{user} avatar -->
                                    <div class="user_avatar">
                                        <img ng-src="{{suggestion.profilePic}}">
                                    </div><!-- the comment body --><div class="comment_body">
                                        <p>{{suggestion.suggestionBody}}</p>
                                    </div>

                                    <!-- comments toolbar -->
                                    <div class="comment_toolbar">

                                        <!-- inc. date and time -->
                                        <div class="comment_details">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>{{suggestion.createdOn}}</li>
                                                <li><i class="fa fa-pencil"></i> <span class="user">{{suggestion.createrUserName}}</span></li>
                                            </ul>
                                        </div>

                                    </div>


                                </li>     

                                </ul>

                             </div>
                                
  
                             <!-- used by #{user} to create a new comment -->
                             <div class="create_new_comment">

                                <!-- current #{user} avatar -->
                                <div class="user_avatar">
                                    <img ng-src="{{user.profilePic}}">
                                </div><!-- the input field --><div class="input_comment">
                                    <input type="text" placeholder="Join the conversation.." ng-model="inputSuggestion[message.messageId]">
                                 </div> 
                             </div>
                            <div class="row" style="padding-left:90px;">
                                                                 <button  type="button" class="btn btn-primary btn-sm" ng-click="suggestionSubmit(message.messageId)" style="float:left;" >Submit</button>
                                 <button  type="button" class="btn btn-success btn-sm" style="float:left;margin-left:10px;"  disabled>Reset</button>
                            </div>    


                            </div>
                          </div>
                      </div>
                        
                     <!-- end -->    
                        
                    </div>
                    <!-- end -->
                    <div ng-show="isAlertForInbox">
                        {{inboxAlertMessage}}
                    </div>
                <!-- end of single message -->        
                </div>
        </div>
        <div class="col-md-2 hidden-xs"></div>
    </div>
</div>