<div ng-controller="outboxMCQController">
    <h1>Message Sent</h1>
    <p style="color:#337ab7;margin-left:200px;">* Questions sent by you.</p>
  	<hr>
    
    <div class="row">
        <div class="col-md-2 hidden-xs"></div>
        <div class="col-md-8">
                <div id="messageInbox" class="row">
                <!-- example for a single message -->
                    <section ng-hide="isAlertForOutBox" >
                    <div class="panel panel-default wrapper" style="margin-bottom:60px;"  ng-repeat="message in messageList" id="scrollIntoView_{{message.messageId}}" scroll-if="{{message.messageId}}" ng-if="message.messageType == '1'">

                    
                     <div ng-if="message.messageType == '0'">
                         <div class="ribbon-wrapper"><div class="ribbon-pink">Old Format</div></div> 
                     </div>     
                        
                     <div class="panel-heading"> 
                        
                        <div ng-if="message.messageType == '1'">
                            <div class="ribbon-wrapper-status" ng-if=" message.isClosed == 'no'  ">
                                <div class="ribbon_round green">Open</div>
                            </div>
                            <div class="ribbon-wrapper-status-closed" ng-if=" message.isClosed == 'yes'  ">
                                <div class="ribbon_round orange">Closed</div>
                            </div>
                        </div>    
                         
                        <div class="media">                            
                          <div class="media-body" style="padding-top:5px;padding-left:5px;padding-bottom:0px;">
                            <h4 class="media-heading">{{message.messageSubject}}</h4>
                            <p style="margin-top:10px;margin-bottom:10px;">{{message.messageBody}}</p>
                            
                        <p ng-if="message.messageType == '1'" class="pull-left"><span style="font-size:14px;color:black;">Total Audience &nbsp;<span style="font-size:14px;" class="badge">{{message.totalReach}}</span></span></p>
                              
                        <p ng-if="message.messageType == '1'" class="pull-left" style="margin-left:15px;"><span style="font-size:14px;color:black;">Participated &nbsp;<span style="font-size:14px;" class="badge-success">{{message.participated}}</span></span></p>
                              
                        <div class="pull-left" style="margin-left:15px;  top: -8px;
  padding-top: 0px;
  position: relative;" ><span style="font-size:30px;">|</span></div>      
                              
<!--                        <p ng-if="message.messageType == '1'" class="pull-left" style="margin-left:15px;"><span style="font-size:14px;color:black;">Left &nbsp;<span style="font-size:14px;" class="badge-failure">{{message.left}}</span></span></p>-->
                              
                              
                            <p ng-if="message.messageType == '1'" class="pull-left" style="margin-left:15px;"><span style="font-size:14px;color:black;"><i class="fa fa-thumbs-up"></i> &nbsp;<span style="font-size:14px;" class="badge-upVote">{{message.totalLike}}</span></span></p>
                              
                            <p ng-if="message.messageType == '1'" class="pull-left" style="margin-left:15px;"><span style="font-size:14px;color:black;"><i class="fa fa-thumbs-down"></i> &nbsp;<span style="font-size:14px;" class="badge-downVote">{{message.totalDisLike}}</span></span></p>  
                              
                            <p class="time pull-right" style="margin-left:15px;font-size:14px;" ><i class="fa fa-clock-o"></i>&nbsp;{{message.time}}</p>
                            <p class="time pull-right" style="margin-left:15px;font-size:14px;" ><i class="fa fa-calendar"></i>&nbsp;{{message.date}}</p>  
                          </div>   
                          <hr style="border-top:1px solid black;" ng-hide="true">    
<!--                          <div class="media-body" style="pdding-left:5px;padding-bottom:10px;">Share it with your friends and family <div style="padding-left:10px;" class="fb-share-button" data-href="{{message.poolURL}}" data-layout="button"></div> </div>   -->
                            
<!--                            <div class="media-body" style="pdding-left:5px;padding-bottom:10px;">Share this question on facebook &nbsp;&nbsp; <afb:share:button href="{{message.poolURL}}" type="button_count"></afb:share:button></div>-->
                            
                            <div class="media-body" ng-hide="true">
                                <div class="row">
                                <div class="col-md-3" style="padding-top:5px;">Share this question on</div>
                                <div class="col-md-3" style="padding-left:0px;margin-left:0px;">
                                <ul class="share-buttons">
                                    
                                    <li><a href="{{message.FBPoolURL}}" target="_blank">
                                        <img src="img/flat_web_icon_set/color/Facebook.png"></a>
                                    </li>
                                    <li>
                                        <a href="{{message.twitterPoolURL}}" target="_blank"><img src="img/flat_web_icon_set/color/Twitter.png"></a>
                                    </li>
                                    
                                    <li>
                                        <a href="{{message.googlePlusPollURL}}" target="_blank" title="Share on Google+"><img src="img/flat_web_icon_set/color/Google+.png"></a>
                                    </li>
                                    
                                    <li>
                                        <a href="{{message.linkedinPollURL}}" target="_blank"><img src="img/flat_web_icon_set/color/LinkedIn.png"></a>
                                    </li>
                                    
                                </ul>
                                </div>
                                </div>
                            </div>
                        </div>
                      </div>
                        
                         
                      <div class="panel-body">
                          
                        <div class="comments" style="padding-right:30px;padding-left:30px;">
                            
                            <!-- New Commenting --> 
                            <div class="media row"  ng-repeat="comment in message.comment" ng-if="message.messageType == '1'">
                              <div class="col-md-8" style="padding-top:10px;padding-left:5px;">  
                                <input type="radio" ng-model="optionValue[message.messageId]" ng-value="comment.commentId" 
                                       ng-disabled="message.isClosed == 'yes'">&nbsp;{{comment.commentBody}} 
                              </div>
                              <div class="col-md-2" style="padding-top:13px;padding-left:5px;">
                                  <label>{{comment.percentLike}}%</label>
                              </div>
                              <div class="col-md-2" style="padding-top:10px;padding-left:5px;">
                                  <span ng-if="comment.isLikeByOwner == 'yes'" class="label label-primary">Accepted Awnser</span>
                              </div>    
                            </div>
                            <div ng-show="!message.comment.length" class="text-center">
                                Zero Comments 
                            </div>
                            <!-- end -->
                            
                            <!-- old commenting technique -->
                            <div class="media commentList"  ng-repeat="comment in message.comment" ng-if="message.messageType == '0'">
                              <a class="pull-left" href="#" style="padding-top:10px;">
                                <img class="media-object img-thumbnail" ng-src="{{comment.profilePic}}" alt="..." height="50px;" width="50px;">
                              </a>
                              <div class="media-body" style="padding-top:10px;">
                                <p>{{comment.commentBody}}</p>
                                    <p class="time pull-left"><span style="font-size:12px;">{{comment.createrUserName}}</span></p>
                                    <p class="time pull-right">{{comment.createdOn}}</p>  
                              </div>
                            </div>
                            <!-- end -->
                            
                        </div>
                      </div>
                      <div class="row text-center" style="padding-top:10px;padding-bottom:15px;" ng-if="message.isDisplaySubmit == 'yes'">
                           <button class="btn btn-primary" ng-click="submitOpinion(message.messageId,$index)" ng-disabled="message.buttonDisabled">Close your question</button>
                      </div>
                      <div class="panel-footer">
    
                         <div class="row">
                              
                         <div class="row">
                             
                             <section ng-hide="message.suggestionLength==0 || message.suggestionLength==1">
                             <a  ng-init="showComment[message.messageId]=commentReturnValue(message.messageId)" ng-click="showComment[message.messageId]=false" ng-show="showComment[message.messageId]" style='padding-left: 90px;text-decoration: none;cursor:pointer'>
                                 <i class="fa fa-comment"></i> View {{message.suggestionLength-1}} more comments
                             </a>
                             </section>

                            <section ng-hide="message.suggestionLength==0 || message.suggestionLength==1">
                             <a ng-click="showComment[message.messageId]=true" ng-hide="showComment[message.messageId]" ng-if="message.suggestionLength > 1" style='padding-left: 90px;text-decoration: none;cursor:pointer'>
                                <i class="fa fa-comment"></i> Hide comments
                             </a>
                             </section>         
                             
                         </div>        
                              
                         <!-- comments container -->
                          <div class="comment_block">
                                 <!-- new comment -->
                                 <div class="new_comment">

                                    <!-- build comment -->
                                    <ul class="user_comment">
                                        
                                        <section ng-hide="showComment[message.messageId]" >
                                        <li class="user_comment_li" ng-repeat="suggestion in message.suggestion" ng-if="$index < message.suggestionLength - 1">
                                        <!-- current #{user} avatar -->
                                        <div class="user_avatar">
                                            <img ng-src="{{suggestion.profilePic}}">
                                        </div><!-- the comment body --><div class="comment_body">
                                            <p class="word-wrap">{{suggestion.suggestionBody}}</p>
                                        </div>

                                        <!-- comments toolbar -->
                                        <div class="comment_toolbar">

                                            <!-- inc. date and time -->
                                            <div class="comment_details">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>{{suggestion.createdOn}}</li>
                                                    <li><i class="fa fa-pencil"></i> <span class="user capitalize">{{suggestion.createrUserName}}</span></li>
                                                </ul>
                                            </div>

                                        </div>
                                        </li>
                                        </section>
                                        <li class="user_comment_li" ng-repeat="suggestion in message.suggestion" ng-show="$last">
                                        <!-- current #{user} avatar -->
                                        <div class="user_avatar">
                                            <img ng-src="{{suggestion.profilePic}}">
                                        </div><!-- the comment body --><div class="comment_body">
                                            <p class="word-wrap">{{suggestion.suggestionBody}}</p>
                                        </div>

                                        <!-- comments toolbar -->
                                        <div class="comment_toolbar">

                                            <!-- inc. date and time -->
                                            <div class="comment_details">
                                                <ul>
                                                    <li><i class="fa fa-pencil"></i> <span class="user capitalize">{{suggestion.createrUserName}}</span></li>
                                                    <li><i class="fa fa-calendar"></i> {{suggestion.date}}</li>
                                                    <li><i class="fa fa-clock-o"></i> {{suggestion.time}}</li>
                                                </ul>
                                            </div>

                                        </div>
                                        </li>
                                        
<!--
                                        <li ng-show="!message.suggestion.length" class="text-center zeroComment">
                                            Zero Comments 
                                        </li>
-->
                                        
                                    </ul>

                                 </div>

                                 <!-- used by #{user} to create a new comment -->
                             <section ng-if=" message.isClosed != 'yes'  ">  
                             <section suggestions messageId='{{message.messageId}}'>
                                     <div class="create_new_comment">

                                        <!-- current #{user} avatar -->
                                        <div class="user_avatar">
                                            <img ng-src="{{user.profilePic}}">
                                        </div><!-- the input field --><div class="input_comment">
<!--                                            <input type="text" placeholder="Join the conversation.." ng-model="myComment.commentEntered" ng-change="commentChange()">-->
                                    <textarea  msd-elastic="\n" class="comment_textarea" type="text" placeholder="Join the conversation.." ng-model="myComment.commentEntered" ng-change="commentChange()" rows='2' cols='77'></textarea>
                                         </div> 
                                     </div>
                                    <div class="row" style="padding-left:90px;">
                                    <p style="color:red;font-size:13px;">{{commentAlert}}</p>
                                    <button  type="button" class="btn btn-primary btn-sm" ng-click="submitComment()" style="float:left;" >Submit</button>
                                    <button  type="button" class="btn btn-success btn-sm" style="float:left;margin-left:10px;" ng-click="suggestionReset(message.messageId)">Cancel</button>
                                    </div> 
                                 
                            </section> 
                            </section>            
                            </div>
                          </div>
                      </div>    
                        
                      <!-- end -->
                      
                     <!-- old commenting -->
                        
                     <!-- end -->    
                        
                    </div>
                    <!-- end -->
                    </section>    
                    <div ng-show="isAlertForOutBox" class="text-center" style="font-size:30px">
                        {{ outBoxAlertMessage}}
                    </div>
                <!-- end of single message -->        
                </div>
        </div>
        <div class="col-md-2 hidden-xs"></div>
    </div>
</div>