<div ng-controller="sentMessageController">
    <h1>Message Sent</h1>
  	<hr>
    
        <div class="row">
        <div class="col-md-2 hidden-xs"></div>
        <div class="col-md-8">
                <div id="messageInbox" class="row">
    <!-- example for a single message -->
        <div class="panel panel-default" style="margin-bottom:35px;"  ng-repeat="message in messageList">
          <div class="panel-body">
            <div class="panel-body">   
                <div class="media">
                  <a class="pull-left" href="#" style="padding-top:10px;">
                    <img class="media-object img-thumbnail"  ng-src="{{message.profilePic}}" alt="..." width="100px;" height="70px;">
                  </a>
                  <div class="media-body" style="padding-top:10px;">
                    <h4 class="media-heading">{{message.messageSubject}}</h4>
                    <p>{{message.messageBody}}</p>
                    <p class="time pull-left"><span style="font-size:12px;">{{message.createrUserName}}</span></p>  
                    <p class="time pull-right">{{message.createdOn}}</p>  
                  </div>
                </div>
              </div>
          </div>
          <div class="panel-footer">
            <div class="comments" style="padding-right:30px;padding-left:30px;">
                
                <div class="media commentList"  ng-repeat="comment in message.comment">
                  <a class="pull-left" href="#" style="padding-top:10px;">
                    <img class="media-object img-thumbnail img-responsive" ng-src="{{comment.profilePic}}" alt="..." height="50px;" width="50px;">
                  </a>
                  <div class="media-body" style="padding-top:10px;">
                    <p>{{comment.commentBody}}</p>
                    <p class="time pull-left"><span style="font-size:12px;">{{comment.createrUserName}}</span></p>  
                    <p class="time pull-right">{{comment.createdOn}}</p>     
                  </div>
                </div>
              
                 <div class="media">
                  <a class="pull-left" href="#" style="padding-top:10px;">
                   <img class="media-object img-thumbnail img-responsive" ng-src="{{user.profilePic}}" alt="..."  height="50px;" width="50px;">
                  </a>
                  <div class="media-body" style="padding-top:15px;">
                    <div class="row" comments messageId='{{message.messageId}}'>
                        <div class="col-md-10">
                            <input class="commentInput" ng-model="myComment.commentEntered" ng-change="commentChange()">
                            <div style="text-align:right;margin-top:5px;">
                                 {{commentAlert}}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-default" ng-click="submitComment()">Submit</button>
                        </div>
                    </div>  
                   </div>     

            </div>
          </div>
        </div>
        <div ng-show="isAlertForInbox">
            {{inboxAlertMessage}}
        </div>
<!-- end of single message -->        
    </div>
        </div>
        <div class="col-md-2 hidden-xs"></div>    
        </div>
</div>