<div class="modal-header text-center">
    <h3 class="modal-title">Please complete your Profile first.</h3>
</div>
<div class="modal-body" style="padding-left:40px;padding-right:40px;">
    <div class="text-center" style="margin-bottom:20px;font-size:16px;">
        This is the final step . You need to fill in the values in the <span class="italics">Views</span> you choose ,
        based on this you will be receiving messages from others.
        <br>
        <p>You need to have atleast two complete manadatory Views , after that you can navigate to any page.</p>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>