<div>
    <h1>Points System</h1>
  	<hr>
    
    <div class="row pointsSystem">
        <div class="col-md-12">
            <h3>What is a Milestone? How do I earn (and lose) it?</h3>
            <p class="pointsSystem">You earn points to achieve milestones. At every milestone you achieved , <span class="label label-success" style="font-size:14px;">RevLeg has kept a surprise for you</span>.
You can view your next milestone in your profile.</p>
            
            <h3>You gain points when:</h3>
            <div class="pointsDiv">
                <ul class="pointsList">
                    <li class="pointsSystem"><p>opinion given by you is accepted by owner of message : <span class="label label-success" style="font-size:14px;">+20 points</span>&nbsp;.</p></li>
                    
                    <li class="pointsSystem"><p>asking for an opinion from audience : <span class="label label-success" style="font-size:14px;">+5 points</span>&nbsp;.</p></li>
                    
                    <li class="pointsSystem"><p>closing your question by "accepting" one of the choices  : <span class="label label-success" style="font-size:14px;">+10 points</span>&nbsp;.</p></li>
                    
                    <li class="pointsSystem"><p>default points for making an account  : <span class="label label-success" style="font-size:14px;">+50 points</span>&nbsp;.</p></li>
                    
                </ul>
            </div>            
        </div>
    </div>
</div>