<div ng-controller="poolController">
    <div class="text-center row">
            <h1>RevLeg Question</h1>
    </div>
  	<hr>
    
    <div class="row">
        <div class="col-md-2 hidden-xs"></div>
        <div class="col-md-8">
                <div id="messageInbox" class="row">
                <!-- example for a single message -->

                    <div class="panel panel-default wrapper" style="margin-bottom:60px;"  ng-repeat="message in messageList" id="scrollIntoView_{{message.messageId}}" ng-if="message.messageType == '1'">
                        
                     <div class="panel-heading"> 
                        
                        <div ng-if="message.messageType == '1'">
                            <div class="ribbon-wrapper-status" ng-if=" message.messageStatus == 'open'  ">
                                <div class="ribbon_flag green">Open</div>
                            </div>
                            <div class="ribbon-wrapper-status-submitted" ng-if=" message.messageStatus == 'submitted'  ">
                                <div class="ribbon_flag blue">Submitted</div>
                            </div>
                            <div class="ribbon-wrapper-status-closed" ng-if=" message.messageStatus == 'closed'  ">
                                <div class="ribbon_flag orange">Closed</div>
                            </div>
                        </div>    
                         
                        <div class="media">                            
                          <a class="pull-left" href="#" style="padding-top:10px;">
                            <img class="media-object img-thumbnail"  ng-src="{{message.profilePic}}" alt="..." width="100px;" height="100px;"> 
                          </a>
                          <p></p>     
                          <div class="media-body">
                            <h4 class="media-heading">{{message.messageSubject}}</h4>
                            <p style="margin-top:10px;margin-bottom:10px;">{{message.messageBody}}</p> 
                              
                            <span class="pull-left" style="color:black;black;margin-right:5px;margin-top:5px;"><i class="fa fa-users fa-2x" style="color:#337ab7;"></i></span>    
                            <p class="pull-left" style="margin-right:25px;font-size:15px;margin-top:7px;">{{message.totalReach}}</p>   
                              
                              
                            <span class="pull-left" style="color:black;margin-right:5px;margin-top:5px;"><i class="fa fa-thumbs-up fa-2x" style="color:green;"></i></span>    
                            <p class="pull-left" style="margin-right:25px;font-size:15px;margin-top:7px;">{{message.totalLike}}</p> 
                              
                               
                            <span class="pull-left" style="margin-left:10px;color:black;margin-right:5px;margin-top:5px;"><i class="fa fa-thumbs-down fa-2x" style="color:red;"></i></span>    
                            <p class="pull-left" style="margin-right:15px;font-size:15px;margin-top:7px;">{{message.totalDisLike}}</p>
                              
                              
                              
                            <p class="time pull-right" style="margin-left:15px;font-size:14px;" ><i class="fa fa-clock-o"></i>&nbsp;{{message.time}}</p>
                            <p class="time pull-right" style="margin-left:15px;font-size:14px;" ><i class="fa fa-calendar"></i>&nbsp;{{message.date}}</p>  
                            <p class="time pull-right"><span style="font-size:14px;" class="capitalize"><i class="fa fa-pencil"></i>&nbsp;{{message.createrUserName}} &nbsp;</span></p>
                              
                          </div>
                          <div>
                          </div>    
                        </div>
                        <hr style="border-top:1px solid black;" ng-hide="true"> 
                        <div class="media-body" ng-hide="true">
                                <div class="row">
                                <div class="col-md-3" style="padding-top:5px;">Share this question on</div>
                                <div class="col-md-3" style="padding-left:0px;margin-left:0px;">
                                <ul class="share-buttons">
                                    
                                    <li><a href="{{message.FBPoolURL}}" target="_blank">
                                        <img src="img/flat_web_icon_set/color/Facebook.png"></a>
                                    </li>
                                    <li>
                                        <a href="{{message.twitterPoolURL}}" target="_blank"><img src="img/flat_web_icon_set/color/Twitter.png"></a>
                                    </li>
                                    
                                    <li>
                                        <a href="{{message.googlePlusPollURL}}" target="_blank" title="Share on Google+"><img src="img/flat_web_icon_set/color/Google+.png"></a>
                                    </li>
                                    
                                    <li>
                                        <a href="{{message.linkedinPollURL}}" target="_blank"><img src="img/flat_web_icon_set/color/LinkedIn.png"></a>
                                    </li>
                                    
                                </ul>
                                </div>
                                </div>
                            </div> 
                         
                      </div>
                        
                         
                      <div class="panel-body">
                          
                        <div class="comments" style="padding-right:30px;padding-left:30px;">
                            
                            <!-- New Commenting --> 
                            <div class="media row"  ng-repeat="comment in message.comment" ng-if="message.messageType == '1'">
                              <div class="col-md-4" style="padding-top:10px;padding-left:5px;">  
                                <input type="radio" ng-model="optionValue[message.messageId]" ng-value="comment.commentId" 
                                       ng-disabled="message.anyAction == 'no'">&nbsp;{{comment.commentBody}} 
                              </div>
                              <div class="col-md-2" style="padding-top:13px;padding-left:5px;">
                                  <label>{{comment.percentLike}}%</label>
                              </div>   
                              <div class="col-md-3" style="padding-top:10px;padding-left:5px;">
                                  <span ng-if="comment.isLikeByOwner == 'yes'" class="label label-primary">Accepted By Sender</span>
                              </div>     
                            </div>
                            <div ng-show="!message.comment.length" class="text-center">
                                Zero Comments 
                            </div>
                            <!-- end -->                            
                        </div>
                      </div>
                      <div class="row text-center" style="padding-top:10px;padding-bottom:15px;">
                            <button class="btn btn-primary" ng-click="submitOpinion(message.messageId)">Submit Your Opinion</button>
                      </div>    
                      <div class="panel-footer">

                         <div class="row">
    
                         <div class="row text-center">
                             
                             <button type="button" class="btn btn-default btn-sm" ng-init="showComment[message.messageId]=true" ng-click="showComment[message.messageId]=false" ng-show="showComment[message.messageId]">
                                 {{message.suggestionLength}} Comments&nbsp;<i class="fa fa-chevron-down"></i>
                             </button>
                             
                             <button type="button" class="btn btn-default btn-sm" ng-click="showComment[message.messageId]=true" ng-hide="showComment[message.messageId]">
                                Hide comments &nbsp;<i class="fa fa-chevron-up"></i>
                             </button>
                             
                         </div>        
                              
                         <!-- comments container -->
                          <div class="comment_block">
                                 <!-- new comment -->
                                 <div class="new_comment">

                                    <!-- build comment -->
                                    <ul class="user_comment">
                                        
                                        <section ng-hide="showComment[message.messageId]" >
                                        <li class="user_comment_li" ng-repeat="suggestion in message.suggestion" ng-if="$index < message.suggestionLength - 1">
                                        <!-- current #{user} avatar -->
                                        <div class="user_avatar">
                                            <img ng-src="{{suggestion.profilePic}}">
                                        </div><!-- the comment body --><div class="comment_body">
                                            <p>{{suggestion.suggestionBody}}</p>
                                        </div>

                                        <!-- comments toolbar -->
                                        <div class="comment_toolbar">

                                            <!-- inc. date and time -->
                                            <div class="comment_details">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>{{suggestion.createdOn}}</li>
                                                    <li><i class="fa fa-pencil"></i> <span class="user capitalize">{{suggestion.createrUserName}}</span></li>
                                                </ul>
                                            </div>

                                        </div>
                                        </li>
                                        </section>
                                        <li class="user_comment_li" ng-repeat="suggestion in message.suggestion" ng-show="$last">
                                        <!-- current #{user} avatar -->
                                        <div class="user_avatar">
                                            <img ng-src="{{suggestion.profilePic}}">
                                        </div><!-- the comment body --><div class="comment_body">
                                            <p>{{suggestion.suggestionBody}}</p>
                                        </div>

                                        <!-- comments toolbar -->
                                        <div class="comment_toolbar">

                                            <!-- inc. date and time -->
                                            <div class="comment_details">
                                                <ul>
                                                    <li><i class="fa fa-pencil"></i> <span class="user capitalize">{{suggestion.createrUserName}}</span></li>
                                                    <li><i class="fa fa-calendar"></i> {{suggestion.date}}</li>
                                                    <li><i class="fa fa-clock-o"></i> {{suggestion.time}}</li>
                                                </ul>
                                            </div>

                                        </div>
                                        </li>
                                        
<!--
                                        <li ng-show="!message.suggestion.length" class="text-center zeroComment">
                                            Zero Comments 
                                        </li>
-->
                                        
                                    </ul>

                                 </div>
                                </div>
                          </div>
                      </div>
                      <!-- end -->
                      
                     <!-- old commenting -->
                        
                     <!-- end -->    
                        
                    </div>
                    <!-- end -->
                    <div ng-show="isAlertForInbox">
                        {{inboxAlertMessage}}
                    </div>
                <!-- end of single message -->        
                </div>
        </div>
        <div class="col-md-2 hidden-xs"></div>
    </div>
</div>