<div ng-controller="profileController">
    
    
    <h1 ng-if="forAdmin == 'no' ">Edit Profile</h1>
    <h1 ng-if="forAdmin == 'yes' ">for Admin : Edit Profile</h1>
    <h3 ng-if="forAdmin == 'yes' ">[ urlFormat : http://revleg.com/adminProfileEdit/authCode/userId ]</h3>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3" ng-controller="fileUploadController" ng-if="forAdmin == 'no' ">
        <div class="text-center">
          <img ng-src="{{fileUpload.profilePic}}" height="100px;" width="100px;"  class="img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" ng-file-select="onFileSelect($files)" accept="image/*">
          
         
             
        </div>
      </div>
        
     <div class="col-md-3" ng-if="forAdmin == 'yes' ">
<!--
        <div class="text-center">
            <div class="btn-group" dropdown>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown-menu" aria-expanded="true">
                User Dropdown List <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="choice in profileList">
                  <a href>{{choice}}</a>
                </li>
              </ul>
            </div>
        </div>
-->
      </div> 
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        
        <h3>Personal info</h3>
        <div class="well">   
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Full name:</label>
            <div class="col-lg-8">
<!--              <input class="form-control" type="text" value="Jane">-->
                <label class="control-label">{{profile.fullName}}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Display Name:</label>
            <div class="col-lg-8">
<!--              <input class="form-control" type="text" value="Bishop">-->
                <label class="control-label">{{profile.displayName}}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
<!--              <input class="form-control" type="text" value="janesemail@gmail.com">-->
                <label class="control-label">{{profile.emailId}}</label>
            </div>
          </div>
           
<!--
          <div class="form-group">
            <label class="col-lg-3 control-label" style="margin-top:5px;">Badge Received:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="janesemail@gmail.com">
                <label class="control-label"><a class="badge" title="Gold Badge" data-toggle="tooltip" data-placement="left" title="Tooltip on left"><span class="gold"></span> legendary</a></label>
            </div>
          </div>
-->
        <div class="form-group">
            <label class="col-lg-3 control-label" style="margin-top:11px;">Points Earned:</label>
            <div class="col-lg-8">
<!--              <input class="form-control" type="text" value="janesemail@gmail.com">-->
                <label class="control-label" style="margin-top:11px;">{{profile.userScore}}<sup><i class="fa fa-star" style="color:green;font-size:11px;"></i></sup></label>
                &nbsp;&nbsp;<a class="btn btn-info" href="#!/pointssystem" style="line-height:0.8">Learn more</a>
            </div>
          </div>    
            
        <div class="form-group">
            <label class="col-lg-3 control-label" style="margin-top:11px;">Milestone:</label>
            <div class="col-lg-8">
<!--              <input class="form-control" type="text" value="janesemail@gmail.com">-->
                <label class="control-label" style="margin-top:11px;">450<sup><i class="fa fa-star" style="color:green;font-size:11px;"></i></sup></label>
                &nbsp;&nbsp;<a class="btn btn-info" href="#!/pointssystem" style="line-height:0.8">Learn more</a>
            </div>
          </div>        
            
        </form>
        </div>   
        
<!--
        <div class="well">
        <div class="form-group">
            <div class="row" style="padding-left:12px;">
                <label class="col-lg-3 control-label">To Reset Password:</label>
            </div>
            <div class="row" style="padding-top:20px;"> 
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                  <input class="form-control" type="password" ng-model="resetPassword" placeholder="Submit new password"> <br>
                    <p ng-show="isResetPasswordErrorMessage">{{resetPasswordErrorMessage}}</p>
                </div>
                <div class="col-lg-4">
                  <button class="btn btn-default" type="submit">Submit</button>
                </div>  
            </div>
        </div>   
        </div>    
-->
          
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="profile-title-header" style="padding-bottom:30px;">
                  <div class="pull-left"><h3 class="panel-title viewTitle">Reset Password</h3></div>
              </div>
          </div>
          <div class="panel-body" id="resetPasswordForm" block-ui="resetPasswordForm">
              <div>                  
                <div class="panel-body">
                    <form class="form-horizontal" role="form" id="resetPasswordViewForm" reset-password-form-validator>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">New Password:</label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control" id="resetPassword" placeholder="Password" name="resetPassword" ng-value='resetPassword'>
                        </div>
                      </div>
                    
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-primary" value="Save Changes" analytics-on analytics-event="_resetPassword" analytics-category="profile save" analytics-label="resetPAssword_profile">Save Changes</button>
                      </div>    
                        </div>  
                        
                    </form>
                  </div>
<!--
                  <div ng-hide='location.loader' class='text-center'>
                    <img src="/img/Preloader_2/Preloader_2.gif">
                  </div>
                  <div ng-hide='location.messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
                    <b>{{location.message}}</b>
                  </div> 
-->
              </div>
          </div>
        </div>  
          
          
        <div class="alert alert-info alert-dismissable" ng-show='isAlertDisplay'>
          <a class="panel-close close" data-dismiss="alert"></a> 
          <i class="fa fa-coffee"></i>
          You need to have atleast two comeplete Basic views.
        </div>
          
        <h3>Views</h3>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="profile-title-header" style="padding-bottom:30px;">
                  <div class="pull-left"><h3 class="panel-title viewTitle">Location</h3></div>
                  
                  <div class="pull-right" style="margin-left:20px;" data-toggle="tooltip" data-placement="right" data-original-title="Click to Edit">
                     <toggle-switch ng-model="location.switchStatus"><toggle-switch>
                  </div>
                
                  <div class="pull-right spaceLeft"><span class="label label-primary">Basic View</span></div>
                  <div class="pull-right" ng-show="location.isComplete"><span class="label label-success">Complete</span></div>
                  <div class="pull-right" ng-hide="location.isComplete"><span class="label label-warning">Incomplete</span></div>
              </div>
          </div>
          <div class="panel-body" id="locationForm" block-ui="locationForm">
              <div>                  
                <div class="panel-body">
                    <form class="form-horizontal" role="form" id="locationViewForm" location-form-validator>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Country:</label>
                        <div class="col-lg-8">
                           <select type="text" class="form-control" id="inputCountry"  ng-model='country' ng-options="value for value in countryList"/></select>
                           <input type="text" class="form-control" id="inputCountry" placeholder="Country" name="country" ng-value='country' style="visibility: hidden;height:0px;">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">State:</label>
                        <div class="col-lg-8">
                         <select type="text" class="form-control" id="inputState" ng-model='state' ng-options="value for value in stateList" ng-change="onStateChange(state)"/></select>
                             <input type="text" class="form-control" id="inputState2" name="state" ng-value='state' style="visibility: hidden;height:0px;">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">City:</label>
                        <div class="col-lg-8">
                         <select type="text" class="form-control" id="inputCity" placeholder="city"  ng-model='city'  ng-options="value for value in cityList" ng-change="onCityChange(city)" ng-focus="onCityClick()"/></select>
                         <input type="text" class="form-control" id="inputCity2" placeholder="city" name="city" ng-value="city" style="visibility: hidden;height:0px;">
                        </div>
                      </div>
                      <div class="form-group">
                            <label class="col-lg-3 control-label">Area:</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="area" name='area' placeholder="Enter state and city first " ng-model='area' typeahead="suggestions for suggestions in getSingleValueArea2Suggestions($viewValue)" class="form-control" autocomplete="off">
                            </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                          <button ng-show="!location.isComplete" type="submit" class="btn btn-primary" value="Save Changes" analytics-on analytics-event="_profilePage" analytics-category="profile save" analytics-label="location_profile">Save Changes</button>
                          <button ng-show="location.isComplete" type="submit" class="btn btn-primary" value="Update Changes" analytics-on analytics-event="_profilePage" analytics-category="profile update" analytics-label="location_profile">Update Changes</button> 
                          <button type="button" class="btn btn-primary" analytics-on analytics-event="_profilePage" analytics-category="profile reset" analytics-label="location_profile" ng-click="resetView()">Reset View</button>   
                        </div>
                      </div>
                    </form>
                  </div>
<!--
                  <div ng-hide='location.loader' class='text-center'>
                    <img src="/img/Preloader_2/Preloader_2.gif">
                  </div>
                  <div ng-hide='location.messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
                    <b>{{location.message}}</b>
                  </div> 
-->
              </div>
          </div>
        </div>  
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="profile-title-header" style="padding-bottom:30px;">
                  <div class="pull-left"><h3 class="panel-title viewTitle">School</h3></div>
                 
                  <div class="pull-right" style="margin-left:8px;" data-toggle="tooltip" data-placement="right" data-original-title="Click to Edit">
                     <toggle-switch ng-model="school.switchStatus"><toggle-switch>
                  </div>
                
                  <div class="pull-right spaceLeft"><span class="label label-primary">Basic View</span></div>
                  <div class="pull-right" ng-show="school.isComplete"><span class="label label-success">Complete</span></div>
                  <div class="pull-right" ng-hide="school.isComplete"><span class="label label-warning">Incomplete</span></div>
              </div>
          </div>
          <div class="panel-body" id='schoolForm' block-ui="schoolForm">
              <div id='schoolForm'>
                <div ng-show='school.form'>
                    <form class="form-horizontal" role="form" id='schoolViewForm' school-form-validator>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">School Name:</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="schoolName" name='schoolName' placeholder="Enter name of your school" ng-model='schoolName' typeahead="suggestions for suggestions in getSingleValueProfileSuggestions($viewValue,'school')" class="form-control" autocomplete="off">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Location of School , City</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="schoolCity" name='schoolCity' ng-model='schoolCity' ng-disabled="true">
                        </div>
                      </div> 
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Location of School , Area</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="schoolArea" name='schoolArea' placeholder="Enter name of the area of your school" ng-model='schoolArea' typeahead="suggestions for suggestions in getSingleValueArea3Suggestions($viewValue)" class="form-control" autocomplete="off">
                        </div>
                      </div>    
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Class:</label>
                        <div class="col-lg-8">
                          <select ng-model="class" ng-options="class.name as class.name for class in classes" class="form-control" ng-change="onClassChange(class)" ng-click="onClassClick()">
                           </select>
                           <input type="text" class="form-control" id="inputClass" name="schoolClass" value="{{class}}" style="visibility: hidden;height:0px;">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Preparing For:</label>
                        <div class="col-lg-8">
                            <select ng-model="schoolPreparingFor" ng-options="schoolPreparingFor.name as schoolPreparingFor.name for schoolPreparingFor in schoolPreparingForList" class="form-control" ng-change="onSchoolPreparingForChange(schoolPreparingFor)" ng-click="onSchoolPreparingForClick()">
                            </select>
                            <input type="text" class="form-control" id="inputSchoolPreparingFor" name="schoolPreparingFor" ng-value="schoolPreparingFor" style="visibility: hidden;height:0px;">
                        </div>
                      </div>    
<!--
                    <div class="form-group" ng-show="schoolPreparingFor=='other'">
                        <label class="col-lg-3 control-label"></label>
                        <div class="col-lg-8">
                             <input type="text" class="form-control" id="schoolOtherValue" name='schoolOtherValue' placeholder="what are you specefically preparing for" ng-model='schoolOtherValue' class="form-control">
                        </div>
                      </div>      
-->
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <button ng-show="!college.isComplete" type="submit" class="btn btn-primary" value="Save Changes" analytics-on analytics-event="_profilePage" analytics-category="profile save" analytics-label="education_profile">Save Changes</button>
                            <button ng-show="college.isComplete" type="submit" class="btn btn-primary" value="Update Changes" analytics-on analytics-event="_profilePage" analytics-category="profile update" analytics-label="education_profile">Update Changes</button>
                            <button type="button" class="btn btn-primary" analytics-on analytics-event="_profilePage" analytics-category="profile reset" analytics-label="location_profile" ng-click="resetView()">Reset View</button>  
                        </div>
                      </div>
                    </form>
                </div>
                <div ng-hide='school.loader' class='text-center'>
                    <img src="/img/Preloader_2/Preloader_2.gif">
                </div>
                <div ng-hide='messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
                    <b>{{school.message}}</b>
                </div>  
              </div>
          </div>
        </div>    
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="profile-title-header" style="padding-bottom:30px;">
                  <div class="pull-left"><h3 class="panel-title viewTitle">Undergraduate</h3></div>
                 
                  <div class="pull-right" style="margin-left:8px;" data-toggle="tooltip" data-placement="right" data-original-title="Click to Edit">
                     <toggle-switch ng-model="college.switchStatus"><toggle-switch>
                  </div>
                
                  <div class="pull-right spaceLeft"><span class="label label-primary">Basic View</span></div>
                  <div class="pull-right" ng-show="college.isComplete"><span class="label label-success">Complete</span></div>
                  <div class="pull-right" ng-hide="college.isComplete"><span class="label label-warning">Incomplete</span></div>
              </div>
          </div>
          <div class="panel-body" id='collegeForm' block-ui="collegeForm">
              <div>
                <div ng-show='college.form'>
                    <form class="form-horizontal" role="form" id='collegeViewForm' college-form-validator>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">College Name:</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="collegeName" name='collegeName' placeholder="Enter name of your college" ng-model='collegeName' typeahead="suggestions for suggestions in getSingleValueProfileSuggestions($viewValue,'college')" class="form-control" autocomplete="off">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Location of College</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="collegeCity" name='collegeCity' placeholder="Enter name of the city of your college" ng-model='collegeCity' typeahead="suggestions for suggestions in getSingleValueCitySuggestions($viewValue)" class="form-control" autocomplete="off">
                        </div>
                      </div>    
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Concentration/Branch:</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="branch" placeholder="Enter branch" name="branch" ng-model='branch' typeahead="suggestions for suggestions in getSingleValueProfileSuggestions($viewValue,'branch')" autocomplete="off">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Year:</label>
                        <div class="col-lg-8">
                          <select ng-model="year" ng-options="year.name as year.name for year in years" class="form-control" ng-change="onYearChange(year)" ng-click="onYearClick()">
                           </select>
                           <input type="text" class="form-control" id="inputYear" name="year" value="{{year}}" style="visibility: hidden;height:0px;">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Preparing For:</label>
                        <div class="col-lg-8">
                            <select ng-model="preparingFor" ng-options="preparingFor.name as preparingFor.name for preparingFor in preparingForList" class="form-control" ng-change="onPreparingForChange(preparingFor)" ng-click="onPreparingForClick()">
                            </select>
                            <input type="text" class="form-control" id="inputPreparingFor" name="preparingFor" value="{{preparingFor}}" style="visibility: hidden;height:0px;">
                        </div>
                      </div>    
<!--
                    <div class="form-group" ng-show="preparingFor=='other'">
                        <label class="col-lg-3 control-label"></label>
                        <div class="col-lg-8">
                             <input type="text" class="form-control" id="otherValue" name='otherValue' placeholder="what are you specefically preparing for" ng-model='otherValue' class="form-control">
                        </div>
                      </div>      
-->
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <button ng-show="!college.isComplete" type="submit" class="btn btn-primary" value="Save Changes" analytics-on analytics-event="_profilePage" analytics-category="profile save" analytics-label="education_profile">Save Changes</button>
                            <button ng-show="college.isComplete" type="submit" class="btn btn-primary" value="Update Changes" analytics-on analytics-event="_profilePage" analytics-category="profile update" analytics-label="education_profile">Update Changes</button>
                            <button type="button" class="btn btn-primary" analytics-on analytics-event="_profilePage" analytics-category="profile reset" analytics-label="location_profile" ng-click="resetView()">Reset View</button>  
                        </div>
                      </div>
                    </form>
                </div>
                <div ng-hide='college.loader' class='text-center'>
                    <img src="/img/Preloader_2/Preloader_2.gif">
                </div>
                <div ng-hide='messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
                    <b>{{college.message}}</b>
                </div>  
              </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="profile-title-header" style="padding-bottom:30px;">
                  <div class="pull-left"><h3 class="panel-title viewTitle">Coaching / Tutions</h3></div>
                 
                  <div class="pull-right" style="margin-left:8px;" data-toggle="tooltip" data-placement="right" data-original-title="Click to Edit">
                     <toggle-switch ng-model="coaching.switchStatus"><toggle-switch>
                  </div>
                
                  <div class="pull-right spaceLeft"><span class="label label-primary">Basic View</span></div>
                  <div class="pull-right" ng-show="coaching.isComplete"><span class="label label-success">Complete</span></div>
                  <div class="pull-right" ng-hide="coaching.isComplete"><span class="label label-warning">Incomplete</span></div>
              </div>
          </div>
          <div class="panel-body" id='coachingForm' block-ui="coachingForm">
              <div id='coachingForm'>
                <div ng-show='coaching.form'>
                    <form class="form-horizontal" role="form" id='coachingViewForm' coaching-form-validator>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Coaching Name:</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="coachingName" name='coachingName' placeholder="Enter name of your coaching" ng-model='coachingName' typeahead="suggestions for suggestions in getSingleValueProfileSuggestions($viewValue,'coaching')" class="form-control" autocomplete="off">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Location of Coaching , City</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="coachingCity" name='coachingCity' ng-model='coachingCity' ng-disabled="true">
                        </div>
                      </div> 
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Location of Coaching , Area</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="coachingArea" name='coachingArea' placeholder="Enter name of the area of your coaching" ng-model='coachingArea' typeahead="suggestions for suggestions in getSingleValueArea3Suggestions($viewValue)" class="form-control" autocomplete="off">
                        </div>
                      </div>    
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Preparing for which exam:</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="examList" ng-model="examList" id='examList' value="{{examList}}"/>
                        </div>
                      </div>       
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <button ng-show="!coaching.isComplete" type="submit" class="btn btn-primary" value="Save Changes" analytics-on analytics-event="_profilePage" analytics-category="profile save" analytics-label="education_profile">Save Changes</button>
                            <button ng-show="coaching.isComplete" type="submit" class="btn btn-primary" value="Update Changes" analytics-on analytics-event="_profilePage" analytics-category="profile update" analytics-label="education_profile">Update Changes</button>
                            <button type="button" class="btn btn-primary" analytics-on analytics-event="_profilePage" analytics-category="profile reset" analytics-label="location_profile" ng-click="resetView()">Reset View</button>  
                        </div>
                      </div>
                    </form>
                </div>
                <div ng-hide='coaching.loader' class='text-center'>
                    <img src="/img/Preloader_2/Preloader_2.gif">
                </div>
                <div ng-hide='coaching.messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
                    <b>{{coaching.message}}</b>
                </div>  
              </div>
          </div>
        </div>       
              
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="profile-title-header" style="padding-bottom:30px;">
                  <div class="pull-left"><h3 class="panel-title viewTitle">Passion</h3></div>
                  
                   <div class="pull-right" style="margin-left:8px;" data-toggle="tooltip" data-placement="right" data-original-title="Click to Edit">
                     <toggle-switch ng-model="passion.switchStatus"><toggle-switch>
                  </div>
                
                   <div class="pull-right spaceLeft"><span class="label label-warning">Optional</span></div>
                  <div class="pull-right" ng-show="passion.isComplete"><span class="label label-success">Complete</span></div>
                  <div class="pull-right" ng-hide="passion.isComplete"><span class="label label-warning">Incomplete</span></div>
              </div>
          </div>
          <div class="panel-body" id="passionForm" block-ui="passionForm">
            <div passion-form-validator>
                <div ng-show='passion.form'>
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Fill things you are passionate about:</label>
                        <div class="col-lg-8">
                          <input class="form-control" name="passionList" ng-model="passionList" id='passionList' value="{{passionList}}"/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <button ng-show="!passion.isComplete" type="submit" class="btn btn-primary" value="Save Changes" analytics-on analytics-event="_profilePage" analytics-category="profile save" analytics-label="passion_profile" ng-click="submitPassion()">Save Changes</button>
                            <button ng-show="passion.isComplete" type="submit" class="btn btn-primary" value="Update Changes" analytics-on analytics-event="_profilePage" analytics-category="profile update" analytics-label="passion_profile" ng-click="submitPassion()">Update Changes</button>
                            <button type="button" class="btn btn-primary" analytics-on analytics-event="_profilePage" analytics-category="profile reset" analytics-label="location_profile" ng-click="resetView()">Reset View</button>  
                        </div>
                      </div>
                    </form>
                </div>
                <div ng-hide='passion.loader' class='text-center'>
                    <img src="/img/Preloader_2/Preloader_2.gif">
                </div>
                <div ng-hide='passion.messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
                    <b>{{passion.message}}</b>
                </div> 
            </div>
          </div>
        </div>  
          
          
      </div>
  </div>
</div>
