<div ng-controller="profileController" style="padding-left:120px;padding-right:120px;">
<div id="content">
<div class="panel panel-default">
  <div class="panel-heading">
    <div class='text-center'>
      <h3 style="font-size:18px;" class="panel-title">Attributes Left</h3>
      <label>Fill these to complete your profile</label>
    </div>
  </div>
  <div class="panel-body" ng-controller="accordianController">
      <accordion close-others="true">
  
        <accordion-group>
            <accordion-heading>
            School<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>
            <div id='schoolForm' school-form-validator>
              <div ng-show='form'>

                <form id="schoolForm" role="form" novalidate>
                  <div class="form-group">
                    <label>School Name</label>
                    <input type="text" class="form-control" id="schoolName" name='schoolName' placeholder="Enter School name" ng-model='schoolName'>
                  </div>

                  <div class='row'>
                    <div class='text-center'>
                      <button type="submit" class="btn btn-lg" >Submit</button>
                    </div>
                  </div>
                </form>

              </div>
            <div ng-hide='loader' class='text-center'>
                <img src="/app/images/loadinfo.net.gif">
            </div>
            
            <div ng-hide='messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
              <b>{{message}}</b>
            </div>
            </div>
        </accordion-group>

        <accordion-group>
            <accordion-heading>
            College<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>
                <div id='collegeForm' college-form-validator>

                <div ng-show='form'>

                  <form role="form" novalidate>
                  <div class="form-group">
                    <label for="collegeName">University Name</label>
                    <input type="text" class="form-control" id="collegeName" name='collegeName' placeholder="Enter name of your college" ng-model='college'>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Concentration/Branch</label>
                    <input type="text" class="form-control" id="branch" placeholder="Enter branch eg: CSE, Biotech etc" name="branch" ng-model='branch'>
                  </div>
                  <div class='text-center'>
                    <button type="submit" class="btn btn-lg">Submit</button>
                  </div>
                  </form>

                </div>
            <div ng-hide='loader' class='text-center'>
                <img src="/app/images/loadinfo.net.gif">
            </div>
            
            <div ng-hide='messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
              <b>{{message}}</b>
            </div>

                </div>
        </accordion-group>


        <accordion-group>
            <accordion-heading>
                Company<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>


              <div id='companyForm' company-form-validator>
                <div ng-show='form'>
                    <div id='companyForm'>
                      <form role="form" novalidate>
                        <div class="form-group">
                          <label for="companyName">Company name</label>
                          <input type="text" class="form-control" id="companyName" placeholder="name" ng-model='companyName' name='company'>
                        </div>
                        <div class="form-group">
                          <label for="position">Position</label>
                          <input type="text" class="form-control" id="position" placeholder="Position/Designation" ng-model='position' name='position'>
                        </div>
                        <div class="form-group">
                          <label for="projectList">Project name</label>
                          <input type="text" class="form-control" id="projectList" placeholder="Project name" ng-model='projectList'>
                        </div>
                        <div class="form-group">
                          <label for="technicalSkillList">Technical Skills / Technologies you owrk in</label>
                          <input type="text" class="form-control" id="technicalSkillList" name="technicalSkillList" placeholder="For more than one skill separate by ',' " ng-model='technicalSkillList'>
                        </div>
                        <div class='text-center'>
                          <button type="submit" class="btn btn-lg">Submit</button>
                        </div>
                      </form>
                    </div>
                </div>
            <div ng-hide='loader' class='text-center'>
                <img src="/app/images/loadinfo.net.gif">
            </div>
            
            <div ng-hide='messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
              <b>{{message}}</b>
            </div>
              </div>
        </accordion-group>

        <!-- for interest to be divided in thre parts -->
        <accordion-group>
            <accordion-heading>
            Books You like<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>

              <div id='interestForm' book-form-validator>
              <div ng-show='form'>

                <div id='InterestForm'>
                  <form role="form" novalidate>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Books You like</label>
                      <input type="text" class="form-control" id="bookList" name="bookList" placeholder="Enter Books you like , For more than one separate by ',' " ng-model='bookList'>
                    </div>
                    <div class='text-center'>
                      <button type="submit" class="btn btn-lg">Submit</button>
                    </div>
                  </form>
                </div>


              </div>
            <div ng-hide='loader' class='text-center'>
                <img src="/app/images/loadinfo.net.gif">
            </div>
            
            <div ng-hide='messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
              <b>{{message}}</b>
            </div>
            </div>
        </accordion-group>

        <accordion-group>
            <accordion-heading>
            People who inspire you<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>

              <div id='interestForm' peoplewhoinspire-form-validator>
              <div ng-show='form'>

                <div id='InterestForm'>
                  <form role="form" novalidate>
                    <div class="form-group">
                      <label for="exampleInputEmail1">People who inspire you</label>
                      <input type="text" class="form-control" id="peopleWhoInspire" name="peopleWhoInspire" placeholder="Names of the people who inspire you, For more than one separate by ','" ng-model='peopleWhoInspire'>
                    </div>
                    <div class='text-center'>
                      <button type="submit" class="btn btn-lg">Submit</button>
                    </div>
                  </form>
                </div>


              </div>
            <div ng-hide='loader' class='text-center'>
                <img src="/app/images/loadinfo.net.gif">
            </div>
            
            <div ng-hide='messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
              <b>{{message}}</b>
            </div>
            </div>
        </accordion-group>

        <accordion-group>
            <accordion-heading>
            Sports You like<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>

              <div id='interestForm' sport-form-validator>
              <div ng-show='form'>

                <div id='InterestForm'>
                  <form role="form" novalidate>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Sports You like</label>
                      <input type="text" class="form-control" id="sportsYouLike"  name="sportsList" placeholder="Sports you like to play or follow, For more than one separate by ','" ng-model='sportsYouLike'>
                    </div>
                    <div class='text-center'>
                      <button type="submit" class="btn btn-lg">Submit</button>
                    </div>
                  </form>
                </div>


              </div>
            <div ng-hide='loader' class='text-center'>
                <img src="/img/smallLoader.gif">
            </div>
            
            <div ng-hide='messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
              <b>{{message}}</b>
            </div>
            </div>
        </accordion-group>

      </accordion>          
  </div>
</div>    
</div>
</div>
</div>