<div class="modal-header text-center">
    <h3 class="modal-title">Please complete your Profile first.</h3>
</div>
<div class="modal-body" style="padding-left:40px;padding-right:40px;">
    <div class="text-center" style="margin-bottom:20px;font-size:16px;">
        This is the final and mandatory step to complete . You have to fill 2 out of 3 <span class="italics">Basic Views</span>
        <br>
        <p style="color:green;">You will receive messages from other users based on the values in your Views.</p>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-warning" ng-click="cancel()">I Understood</button>
    </div>
</div>