<div>
    <h1>Refer Us</h1>
  	<hr>
    
    <div class="row">
        <div class="col-md-2 hidden-xs"></div>
        <div class="col-md-8">
                <div id="referUs" class="row">      
                </div>
        </div>
        <div class="col-md-2 hidden-xs"></div>
    </div>
</div>