<div ng-controller="referLoadingController">

    <div class="row"  style="margin-left:auto;margin-right:auto;font-size:14px;" id="signupForm" ng-show="referLoading.isSignupScreen">
    <div class="col-md-6 col-md-offset-3 signupDiv" style="background-color: #f8f8f8;margin-top:10px;width:500px;padding-bottom:50px;">
        <form signup-form-validator role="form" novalidate method="post" id="signUpForm">
        <div class="row text-center">
            <h1 class="margin-base-vertical" style="margin-bottom:30px;">Sign up</h1>  
        </div>  
        <div style="text-align:left;">

          <div class="form-group">
            <label for="inputUsername">Full Name</label>
              <input type="text" class="form-control form-control-singup" id="inputFullName" placeholder="Enter Full name" name='fullName' ng-model='fullName'>
          </div>            

          <div class="form-group">
            <label for="inputEmailId">Email address</label>
              <input type="email" class="form-control form-control-singup" id="inputEmailId" placeholder="Enter email" name='emailId' ng-model='emailId'>
          </div>

          <div class="form-group">
            <label for="inputPassword">Password</label>
              <input type="password" class="form-control form-control-singup" id="inputPassword" placeholder="Password" name='password' ng-model='password'>
          </div>

          <div class="form-group">
            <label for="inputPassword">Re-Password</label>
              <input type="password" class="form-control form-control-singup" id="confirmPassword" placeholder="Enter the Password again" name='confirmPassword' ng-model='confirmPassword'>
          </div>

          <div class='row' style="padding-top:20px;padding-bottom:10px;">
                <div class='text-center'>
                  <button type="submit" class="btn btn-lg btn btn-success" >Submit</button>
                </div>
          </div>

        </div>
        </form>
        
        <div style="margin-top:20px;margin-bottom:30px;">
<!--           <hr style="border-width: 2px;border-color:black;">-->
            
              <h4 style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; "><span style=" background: rgb(248, 248, 248); padding:0 10px; font-size:14px;"> OR </span></h4>
            
        </div>
    
        
        <div class="row">
            <div style="width:210px;margin-left:auto;margin-right:auto;">
               <a class="btn btn-block btn-social btn-facebook" ng-click="signUpFB()">
                <i class="fa fa-facebook"></i> Sign up with facebook
              </a>
            </div>
        </div>    
<!--
        <div ng-show='isSignupLoader' class='text-center'>
        <img src="img/bigLoader/bigLoader.gif">
        </div>

        <div ng-hide='isMessageDisplay' class='text-center' style='padding-top:20px;font-size:30px;color:red;'>
        <b>{{message}}</b>
        </div>
        </form>
        <div class="row text-center" ng-show="isSignupSuccessMessgae">
            <h2>Sign up has been successfull. </h2>
            <br>
            <h2> Please check your email for a verification link.</h2>
        </div>
-->
    </div>
    </div>
</div>