<form refer-us-form-validator role="form" novalidate method="post" class="form-horizontal">
<div class="modal-header text-center">
    <h3 class="modal-title">Refer Us </h3>
    <p>*You can refer maximum upto 3 people</p>
</div>
<div class="modal-body">      
         <div>
            <div class="form-group">
                 <label class="col-sm-3 control-label">Name</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="name[]" placeholder="Enter name here"/>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">EmailId</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="emailId[]" placeholder="Enter email Id here"/>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default addButton">Add more</button>
                </div>
            </div> 
            <!-- The option field template containing an option field and a Remove button -->
            <div class="form-group hide" id="optionTemplate">
            <div class="col-sm-12">
                
                 <div class="form-group">
                     <div style="padding-left:80px;padding-right:80px;">
                         <hr>
                     </div>
                 </div>
                 <div class="form-group">
                    <label class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="name[]" placeholder="Enter name here"/>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">EmailId</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="emailId[]" placeholder="Enter email Id here"/>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                
            </div>
            </div> 
         </div>
     </div>
</div>
<div class="modal-footer" style="padding-left:80px;padding-right:80px;">
    <div class="text-center">
        <button class="btn btn-primary" analytics-on analytics-event="_referUsSubmit" analytics-category="message create" analytics-label="message_created" type="submit">Submit</button>
        <button class="btn btn-warning referUsCancel" ng-click="cancel()" analytics-on analytics-event="_referCreate" analytics-category="message create" analytics-label="refer_cancel">Cancel</button>
    </div>
</div>
</form>    