<div class="modal-header text-center">
    <h3 class="modal-title">Refer us </h3>
    <p>*You can refer maximum upto 3 people</p>
</div>
<div class="modal-body" style="padding-left:40px;padding-right:40px;">
    <div class="text-center" style="margin-bottom:20px;font-size:16px;">
<!--
        Help us spread the word around.
        <p>Enter the name and emailId of your friends to whom you want to refer.</p>
-->
    </div>
    <form role="form" class="form-horizontal">
      <div class="form-group" ng-repeat-start="item in referList">
        <div class="col-sm-12" ng-if="$index != 0">
            <button class="btn btn-success" ng-click="referListMinus($index)">-</button>
        </div>  
        <label for="inputEmail3" class="col-sm-4 control-label">Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="referList[$index].name">
        </div>
      </div>
      <div class="form-group" ng-repeat-end>
        <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputEmail" placeholder="email" ng-model="referList[$index].emailId">
        </div>
      </div>    
    </form>
     
      <div ng-hide='messageDisplay' class='text-center' style='padding-top:10px;font-size:18px;color:red'>
          <b>{{message}}</b>
      </div>
    
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-success" ng-click="referListPlus()">+</button>
        <button class="btn btn-primary" ng-click="ok()">Submit</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>