<form request-for-invitation-form>
<div class="modal-header text-center">
    <h3 class="modal-title">Request For Invitation</h3>
</div>
<div class="modal-body" style="padding-left:40px;padding-right:40px;">
    <div class="text-center" style="margin-bottom:20px;font-size:16px;">
        Thank you for showing interest , please enter your Name and EmailId . We will get in touch with you. 
    </div>
<!--    <form role="form">-->
     <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter your Name" ng-model="singleRequest.name" name="name" >
      </div>    
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Enter your EmailId" ng-model="singleRequest.email" name="emailId">
      </div>
<!--    </form>-->
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-primary" type="submit" >Submit</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
</form>