<div ng-controller="suggestorController">
<!--
    <div ng-show="mainHeading" class="mainHeading form-group">
        <div class="col-md-2 hidden-xs"></div>
        <div class="col-md-8">    
            <h1 style="font-size:4.5em;color:white;">REACH OUT to</h1>
            <h3 style="color:white;font-size:23px;">all those people who are</h3>
        </div>
        <div class="col-md-2 hidden-xs"></div>
    </div>
-->
    
    <div id="inputSearch" class="form-group row" style='margin-right:20px;'>

        <div class="col-md-2 hidden-xs"></div>
        <div class="col-md-8 text-center">
            
            <div ng-controller="carouselController" ng-show="mainHeading" class="hidden-xs">
<!--
              <div>
                <carousel interval="myInterval">
                  <slide ng-repeat="slide in slides" active="slide.active">
                    
                    <div class="carousel-caption" ng-if="$index == 0">
                        <h1 style="font-size:4em;color:white;">RevLeg&nbsp;<sub><small style="color:white;">&beta;eta</small></sub></h1>
                        <h3 style="color:white;font-size:20px;"><span class="italics">Search.Connect.Share</span></h3>
                    </div>
                      
                    <div class="carousel-caption" ng-if="$index == 1">
                          <h3>Step 1. Search Your Audience </h3>
                          <p>to whom you want to send a message</p>
                          <p>Use the following keywords to search : </p><p class="italics">"living in .." &nbsp;,&nbsp; "education from .."&nbsp;,&nbsp; "working at .."</p>
                    </div>  
                      
                    <div class="carousel-caption" ng-if="$index == 2">
                          <h3>Step2. Send Message :</h3>
                          <p>Compose a message and send it to the audience you had selected in step 1.</p>
                          <p>&nbsp;</p>   
                    </div>  
                      
                    <div class="carousel-caption" ng-if="$index == 3">
                          <h3>Step3. Receive Replies : </h3>
                          <p>Get replies from your audience who received your message.</p>
                          <p>Enjoy!!!</p>
                           <p>&nbsp;</p>
                    </div>    
                      
                  </slide>
                </carousel>
              </div>
-->
            <div class="mainLogoDiv">
                        <h1 style="font-size:5em;color:rgb(76, 109, 170);">Revleg&nbsp;<sub><small style="color:rgb(76, 109, 170);;">&beta;eta</small></sub></h1>
                        <h3 style="color:rgb(76, 109, 170);;font-size:24px;"><span class="italics">Connecting Students</span></h3>
            </div>  
            <div class="playIcon text-center animated flash">
                <a class="youtube" href="https://www.youtube.com/watch?v=eUNQ9qfMUE8&feature=youtu.be" data-toggle="tooltip" data-placement="right" data-original-title="Click to Play !!"><img src="../img/icon1_small.png" data-toggle="tooltip"></a>
            </div>    
                
            </div>
            
            <div class="input-group add-on" style='margin-right:20px;'>
              <input type="search" class="form-control typeahead input-lg"  autocomplete="off" type="text" ng-model="asyncSelected" placeholder="Search Audience by typing : {{mainSearchPlaceHolder}}" typeahead="suggestions.text for suggestions in getSuggestions($viewValue)" class="form-control"  typeahead-on-select="setSearchInput($item)" my-search>
              <div class="input-group-btn" style="background-color: rgb(76, 109, 170);">
                <button class="btn btn-default btn-lg btn-search" style="height:60px; width:60px;" ng-click="searcher()"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
        </div>
        
        <div class="col-md-2 hidden-xs"></div>
        
    </div>

    <div class="resultSet row" ng-show="isResultSetDisplay">
        
    <div class="col-md-2 hidden-xs"></div>
     
    <div class="col-md-8">
        
         <div style="font-size:16px;margin-bottom:15px;text-align:left;">
         Message can be sent to all those who are :
         </div>
         <!-- result set -->
         <div class="panel panel-result" ng-repeat="result in resultSet" style="border: 1px solid #BDC3C7;margin-bottom:30px;">
         <div class="panel-heading resultHeading">
            <div>{{result.title}}</div>
         </div>
        
         <div class="panel-body text-center" style="background-color:#F8F8F8;">
            <div class="row">
            <div class="col-md-6">
                <div class="peopleCountLabel">Total Audience Count</div>
                <div class="peopleCount">{{result.totalPeopleCount}}</div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-sendMessage hidden-xs" ng-click="sendMessage($index)">Send Message</button>
            </div>
            </div>
         </div>
         <div class="panel-footer hidden-lg hidden-md hidden-sm">
             <button class="btn btn-sendMessage" ng-click="sendMessage($index)">Send Message</button>
         </div>
         </div>
         <!-- reslult set end -->
         <!-- pagination -->
         <div class='paginationDisplay col-md-12' ng-show='isPagination'>
            <pagination total-items="totalItems" ng-model="currentPage" max-size='10' ng-change="pageChanged()" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
         </div>
         <!-- pagination ends -->
        
    </div>
        
     
    <div class="col-md-2 hidden-xs"></div>    
    </div>
</div>