<form signin-form-validator role="form" novalidate method="post">
<div class="modal-header text-center">
    <h3 class="modal-title">Sign in</h3>
</div>
<div class="modal-body" style="padding-left:40px;padding-right:40px;">
      <div class="form-group">
        <label for="emailId">Email address</label>
        <input type="text" class="form-control" id="emailId" placeholder="Enter email" name="emailId" ng-model="emailId">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" ng-model="password">
      </div>
      <a href="#!/forgetPassword" ng-click="cancel()">Forgot Password</a>
      <div ng-hide='messageDisplay' class='text-center' style='padding-top:10px;font-size:18px;color:red'>
          <b>{{message}}</b>
      </div>
<!--
      <div style="margin-top:20px;margin-bottom:20px;">            
              <h4 style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; "><span style=" background:#fff; padding:0 10px; font-size:15px;"> OR </span></h4>
     </div>
-->
<!--
     <div class="row">
            <div style="width:210px;margin-left:auto;margin-right:auto;">
               <a class="btn btn-block btn-social btn-facebook" ng-click="login()">
                <i class="fa fa-facebook"></i> Sign In with facebook
              </a>
            </div>  
        </div>
-->
    <div class="text-center" style="padding-top:15px;">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
    
</div>
<div class="modal-footer">
<!--
    <div class="text-center">
        <button type="submit" class="btn btn-primary">SignIn</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
-->
<div class="row" style="padding-top:10px;">
    <div style="width:210px;margin-left:auto;margin-right:auto;">
       <a class="btn btn-block btn-social btn-facebook" ng-click="login()">
        <i class="fa fa-facebook"></i> Sign in with facebook
      </a>
    </div>  
</div>    
    
</div>
</form>