<div class="row" ng-controller="signUpController" style="margin-left:auto;margin-right:auto;font-size:14px;" id="signupForm">
<div class="col-md-6 col-md-offset-3 signupDiv" style="background-color: #f8f8f8;margin-top:10px;width:500px;">
    <form signup-form-validator role="form" novalidate method="post">
    <h1 class="margin-base-vertical" style="margin-bottom:30px;">SignUp</h1>    
    <div ng-show="isSignupForm" style="text-align:left;">

      <div class="form-group">
        <label for="inputFirstname">First name</label>
          <input type="text" class="form-control form-control-singup" id="inputFirstname" placeholder="Enter Firstname" name='firstname' ng-model='firstname'>
      </div>

      <div class="form-group">
        <label for="inputLastname">Last name</label>
          <input type="text" class="form-control form-control-singup" id="inputLastname" placeholder="Enter Lastname" name='lastname' ng-model='lastname'>
      </div>

      <div class="form-group">
        <label for="inputUsername">Username</label>
          <input type="text" class="form-control form-control-singup" id="inputUsername" placeholder="Enter Username" name='username' ng-model='username'>
      </div>

      <div class="form-group">
        <label for="inputEmailId">Email address</label>
          <input type="email" class="form-control form-control-singup" id="inputEmailId" placeholder="Enter email" name='emailId' ng-model='emailId'>
      </div>

      <div class="form-group">
        <label for="inputPassword">Password</label>
          <input type="password" class="form-control form-control-singup" id="inputPassword" placeholder="Password" name='password' ng-model='password'>
      </div>

      <div class="form-group">
        <label for="inputPassword">Re-Password</label>
          <input type="password" class="form-control form-control-singup" id="inputRePassword" placeholder="Enter the Password again" name='rePassword' ng-model='rePassword'>
      </div>
        
        
      <div class="signupLocation">
          <div class="form-group">
              <label for="inputCountry">Country</label>
              <input type="text" class="form-control" id="inputCountry" placeholder="country" name="country" ng-model='country'>
            </div>
            <div class="form-group">
              <label for="inputState">State</label>
                <input type="text" class="form-control" id="inputState" placeholder="State" name="state" ng-model='state'>
            </div>
            <div class="form-group">
              <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" placeholder="city" name="city" ng-model='city'>
            </div>
      </div>
        
      <div class='row'>
            <div class='text-center'>
              <button type="submit" class="btn btn-lg btn btn-success" >Submit</button>
            </div>
      </div>

    </div>

    <div ng-show='isSignupLoader' class='text-center'>
    <img src="img/bigLoader/bigLoader.gif">
    </div>

    <div ng-hide='isMessageDisplay' class='text-center' style='padding-top:20px;font-size:30px;'>
    <b>{{message}}</b>
    </div>
    </form>
</div>
</div>


