<div ng-controller="signupFlowController">
    
    <div ng-hide="ifSignupFlowIsVisible">
        
        <h1 class="text-center" style="padding-top:100px">You have already signed up <br> To update your profile checkout your <br> <a href="#!/profile">Profile Page</a></h1>
        
        
    </div>
    <div ng-show="ifSignupFlowIsVisible">
            <div ng-switch="step">
        
      <div ng-switch-when="1">  
            <div class="row text-center">
                <h1>Step 1. Choose your view</h1>
                 <hr>
                
                <div class="alert alert-info" role="alert">
                    <span style="font-size:18px;">' Views ' are the values on which you will become searchable to the other users on the platform.<br> Choose the view which you feel is more appropriate for you.</span>
                </div>
                
                <div class="" style="padding-top:10px;width:600px;margin-left:auto;margin-right:auto;">
                <div style="cursor: pointer;" ng-click="viewChoosen(1)">
                    <div style="padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;  border-left-color: #FFA400;width:600px;cursor: pointer;" class="hvr-shutter-out-horizontal">
                        <label style="font-size:30px;">School</label>
                    </div>
                </div>
                <div style="cursor: pointer;" ng-click="viewChoosen(2)">
                    <div style="padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;  border-left-color: #FFA400;width:600px;cursor: pointer;" class="hvr-shutter-out-horizontal">
                        <label style="font-size:30px;">Undergraduate</label>
                    </div>
                </div> 
                </div>
            </div>
      </div> 
        
      <div ng-switch-when="2">
            <div class="row">
                <div class="row text-center" style="  width: 70%;
  margin-left: auto;
  margin-right: auto;padding-right:195px;">
                    <div class="pull-right"><span><h1><span style="font-size:50px;">|</span> &nbsp;Step 2. Complete Your View</h1></span></div>
                    <div class="pull-left;" style="padding-top:12px;"><span style="cursor: pointer;margin-right:6px;" ng-click="goBack()"><i class="fa fa-chevron-circle-left fa-4x hvr-icon-back"></i></span></div>
                </div>
                
                <hr>
                
                <div class="alert alert-info text-center" role="alert" style="margin-bottom:30px;">
                   <span style="font-size:18px;">This is a recommended view . Every user needs to have atleast one complete View.</span>
                </div>
               
                
                <div style='padding: 15px;margin-bottom: 20px;border: 1px solid #6C7A89;border-radius: 4px;padding-top: 35px;'>
                    
                <div ng-show="isSchoolViewVisible" style="width:750px;margin-left:auto;margin-right:auto;">
                    
          <div class="panel-body" id='schoolForm' block-ui="schoolForm">
              <div id='schoolForm'>
                <div ng-show='school.form'>
                    <form class="form-horizontal" role="form" id='schoolViewForm' school-form-validator>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">School Name:</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="schoolName" name='schoolName' placeholder="Enter name of your school" ng-model='schoolName' typeahead="suggestions for suggestions in getSingleValueProfileSuggestions($viewValue,'school')" class="form-control" autocomplete="off">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Location of School , City</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="schoolCity" name='schoolCity' ng-model='schoolCity' ng-disabled="true">
                        </div>
                      </div> 
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Location of School , Area</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="schoolArea" name='schoolArea' placeholder="Enter name of the area of your school" ng-model='schoolArea' typeahead="suggestions for suggestions in getSingleValueArea3Suggestions($viewValue)" class="form-control" autocomplete="off">
                        </div>
                      </div>    
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Class:</label>
                        <div class="col-lg-8">
                          <select ng-model="class" ng-options="class.name as class.name for class in classes" class="form-control" ng-change="onClassChange(class)" ng-click="onClassClick()">
                           </select>
                           <input type="text" class="form-control" id="inputClass" name="schoolClass" value="{{class}}" style="visibility: hidden;height:0px;">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Preparing For:</label>
                        <div class="col-lg-8">
                            <select ng-model="schoolPreparingFor" ng-options="schoolPreparingFor.name as schoolPreparingFor.name for schoolPreparingFor in schoolPreparingForList" class="form-control" ng-change="onSchoolPreparingForChange(schoolPreparingFor)" ng-click="onSchoolPreparingForClick()">
                            </select>
                            <input type="text" class="form-control" id="inputSchoolPreparingFor" name="schoolPreparingFor" ng-value="schoolPreparingFor" style="visibility: hidden;height:0px;">
                        </div>
                      </div>    
<!--
                    <div class="form-group" ng-show="schoolPreparingFor=='other'">
                        <label class="col-lg-3 control-label"></label>
                        <div class="col-lg-8">
                             <input type="text" class="form-control" id="schoolOtherValue" name='schoolOtherValue' placeholder="what are you specefically preparing for" ng-model='schoolOtherValue' class="form-control">
                        </div>
                      </div>      
-->
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-primary" value="Save Changes" analytics-on analytics-event="_profilePage" analytics-category="profile save" analytics-label="education_profile">Save Changes</button>
                        </div>
                      </div>
                    </form>
                </div>
                <div ng-hide='school.loader' class='text-center'>
                    <img src="/img/Preloader_2/Preloader_2.gif">
                </div>
                <div ng-hide='messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
                    <b>{{school.message}}</b>
                </div>  
              </div>
          </div>
                    
                </div>
                
                <div ng-show="isUndergradauteViewVisible" style="width:750px;margin-left:auto;margin-right:auto;">
          <div class="panel-body" id='collegeForm' block-ui="collegeForm">
              <div>
                <div ng-show='college.form'>
                    <form class="form-horizontal" role="form" id='collegeViewForm' college-form-validator>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">College Name:</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="collegeName" name='collegeName' placeholder="Enter name of your college" ng-model='collegeName' typeahead="suggestions for suggestions in getSingleValueProfileSuggestions($viewValue,'college')" class="form-control" autocomplete="off">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Location of College</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="collegeCity" name='collegeCity' placeholder="Enter name of the city of your college" ng-model='collegeCity' typeahead="suggestions for suggestions in getSingleValueCitySuggestions($viewValue)" class="form-control" autocomplete="off">
                        </div>
                      </div>    
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Concentration/Branch:</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="branch" placeholder="Enter branch" name="branch" ng-model='branch' typeahead="suggestions for suggestions in getSingleValueProfileSuggestions($viewValue,'branch')" autocomplete="off">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Year:</label>
                        <div class="col-lg-8">
                          <select ng-model="year" ng-options="year.name as year.name for year in years" class="form-control" ng-change="onYearChange(year)" ng-click="onYearClick()">
                           </select>
                           <input type="text" class="form-control" id="inputYear" name="year" value="{{year}}" style="visibility: hidden;height:0px;">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Preparing For:</label>
                        <div class="col-lg-8">
                            <select ng-model="preparingFor" ng-options="preparingFor.name as preparingFor.name for preparingFor in preparingForList" class="form-control" ng-change="onPreparingForChange(preparingFor)" ng-click="onPreparingForClick()">
                            </select>
                            <input type="text" class="form-control" id="inputPreparingFor" name="preparingFor" value="{{preparingFor}}" style="visibility: hidden;height:0px;">
                        </div>
                      </div>    
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-primary" value="Save Changes" analytics-on analytics-event="_profilePage" analytics-category="profile save" analytics-label="education_profile">Save Changes</button>

                        </div>
                      </div>
                    </form>
                </div>
                <div ng-hide='college.loader' class='text-center'>
                    <img src="/img/Preloader_2/Preloader_2.gif">
                </div>
                <div ng-hide='messageDisplay' class='text-center' style='padding-top:20px;font-size:20px;'>
                    <b>{{college.message}}</b>
                </div>  
              </div>
          </div>
                </div> 
                                    
                </div>
            </div>
      </div>
        
      <div ng-switch-when="3">
          <div class="row">

                
                <div style="margin-top:60px;" class="text-center">
                <div class="alert alert-success" role="alert" style="margin-bottom:30px;font-size:18px;">
                     Congratulations  !!!<br>
                     You profile has been successfully created.<br>
                     Checkout your Profile here <a href="#!/profile">Profile Section</a>
                     <br>
                     <br>
                </div>
                </div>
                                  
          </div>      
      </div>    
    </div>
    </div>
</div>    