<form signup-form-validator role="form" novalidate method="post" id="signUpForm">
<div class="modal-header text-center">
    <h3 class="modal-title">Sign up</h3>
</div>
<div class="modal-body" style="padding-left:40px;padding-right:40px;">  
        <div style="text-align:left;">

          <div class="form-group">
            <label for="inputUsername">Full Name</label>
              <input type="text" class="form-control form-control-singup" id="inputFullName" placeholder="Enter Full name" name='fullName' ng-model='fullName'>
          </div>            

          <div class="form-group">
            <label for="inputEmailId">Email address</label>
              <input type="email" class="form-control form-control-singup" id="inputEmailId" placeholder="Enter email" name='emailId' ng-model='emailId'>
          </div>

          <div class="form-group">
            <label for="inputPassword">Password</label>
              <input type="password" class="form-control form-control-singup" id="inputPassword" placeholder="Password" name='password' ng-model='password'>
          </div>

          <div class="form-group">
            <label for="inputPassword">Re-Password</label>
              <input type="password" class="form-control form-control-singup" id="confirmPassword" placeholder="Enter the Password again" name='confirmPassword' ng-model='confirmPassword'>
          </div>
        </div>
    
        <div ng-hide='isMessageDisplay' class='text-center'>
            <div style='padding-top:20px;font-size:30px;color:red;'>
                <b>{{message}}</b>
            </div>    
        </div> 
    
<!--
        <div style="margin-top:20px;margin-bottom:20px;">
              <h4 style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; "><span style=" background:#fff; padding:0 10px; font-size:14px;"> OR </span></h4>
        </div>
    
        
        <div class="row">
            <div style="width:210px;margin-left:auto;margin-right:auto;">
               <a class="btn btn-block btn-social btn-facebook" ng-click="signUpFB()">
                <i class="fa fa-facebook"></i> Sign Up with facebook
              </a>
            </div>  
        </div>
-->
    
    <div class="text-center" style="padding-top:15px;">
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-warning" ng-click="cancel()" type="button">Cancel</button>
    </div>
    
</div>
<div class="modal-footer">
<!--
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
-->

<div class="row" style="padding-top:10px;">
    <div style="width:210px;margin-left:auto;margin-right:auto;">
       <a class="btn btn-block btn-social btn-facebook" ng-click="signUpFB()">
        <i class="fa fa-facebook"></i> Sign up with facebook
      </a>
    </div>  
</div>    
    
</div>
</form>