<div class="modal-header text-center">
    <h3 class="modal-title">Suggestions</h3>
</div>
<div class="modal-body" style="padding-left:40px;padding-right:40px;">
    <div class="text-center" style="margin-bottom:20px;font-size:16px;">
        Please mention any suggestions or shortcomings you found here.
    </div>
    <form role="form">
     <div class="form-group">
        <textarea class="msgTextarea" ng-model="feedback.text"></textarea>
      </div>    
    </form>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-primary" ng-click="ok()">Submit</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div> 