<form create-message-form-validator role="form" novalidate method="post" class="form-horizontal">
<div class="modal-header text-center">
    <h3 class="modal-title">Create Messages</h3>
</div>
<div class="modal-body" style="padding-left:80px;padding-right:80px;" >      
     <div ng-show="isCreateMessage">
         <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
             <div class="col-sm-12" style="text-align:left;color:blue;font-size:12px;">
             <label> *Title should be a short summary of your question</label>
             </div> 
            <div class="col-sm-12">
                <input type="text" class="form-control" name="surveyTitle" placeholder="Enter Message Title" ng-model="message.messageTitle" ng-change="title()">
            </div> 
          </div>
         <div style="text-align:right;">
             {{messageTitleAlert}}
         </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <div class="col-sm-12" style="text-align:left;color:blue;font-size:12px;">
             <label> *Describe your question in more detailed manner here </label>
             </div>  
            <div class="col-sm-12"><textarea class="msgTextarea form-control" ng-model="message.messageBody" ng-change="body()" name="surveyBody"></textarea></div>
          </div>
          <div style="text-align:right;">
             {{messageBodyAlert}}
         </div>
         <div style="text-align:center;margin-bottom:30px;font-size:14px;margin-top:10px;" class="alert alert-info">
             Please Add the different opinions on which you want others to cast their vote
             <div style="text-align:center;margin-top:4px;font-size:14px;color:red;">
                 *Minimum number of opinions is 2 , Maximum can be 4
             </div>
         </div>
         <div class="well well-lg">
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="col-sm-3">
                    <label class="control-label">Opinion</label><br>
                    <label class="control-label" style="font-size:12px;color:blue;">*Maximum 100 chars</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="option[]" placeholder="Enter your one option here"/>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="option[]" placeholder="Enter your other option here"/>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                </div>
            </div> 
            <!-- The option field template containing an option field and a Remove button -->
            <div class="form-group hide" id="optionTemplate">
                <div class="col-sm-offset-3 col-sm-8">
                    <input class="form-control" type="text" name="option[]" placeholder="Enter your other option here"/>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                </div>
            </div> 
         </div>
     </div>
     <div ng-hide="isCreateMessage" class="text-center" style="padding-top:30px;padding-bottom:30px;font-size:16px;">
         Sorry you need to SignIn for sending messages !!!
     </div>
</div>
<div class="modal-footer" style="padding-left:80px;padding-right:80px;">
    <div class="text-center">
        <button id="messageSubmit" ng-show="isCreateMessage"  class="btn btn-primary" analytics-on analytics-event="_messageCreate" analytics-category="message create" analytics-label="message_created" type="submit">Submit</button>
        <button id="messageCancel" class="btn btn-warning messageCancel" ng-click="cancel()" analytics-on analytics-event="_messageCreate" analytics-category="message create" analytics-label="message_cancel">Cancel</button>
    </div>
</div>
</form>    